# ============================================================
# REQUIRED
# Minimum variables needed to run the application
# ============================================================
SECRET_KEY="secret"

# DATABASE
RDS_DB_NAME="iaso"
RDS_HOSTNAME="db"
RDS_PASSWORD="postgres"
RDS_USERNAME="postgres"

# ============================================================
# PLUGINS
# Set PLUGINS=plugin_a,plugin_b,plugin_c to activate them
# ============================================================
PLUGINS=

# WFP PLUGIN
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
USE_CELERY="false"

# WFP_AUTH PLUGIN
WFP_AUTH_ACCOUNT=
WFP_AUTH_CLIENT_ID=
WFP_EMAIL_RECIPIENTS_NEW_ACCOUNT=

# ============================================================
# DEVELOPMENT
# ============================================================
DEV_SERVER=
LIVE_COMPONENTS=
PYTHONUNBUFFERED="true"
TEST_PROD=

# ============================================================
# SERVER CONFIGURATION
# ============================================================
DEBUG="true"
DEBUG_SQL=
DJANGO_LOGGING_LEVEL=
DJANGO_SETTINGS_MODULE=  # if you use another settings file
DNS_DOMAIN=
DRF_SPECTACULAR_DISABLE_ERRORS_AND_WARNINGS=
ENABLE_ANALYTICS="false"
ENABLE_GZIP="false"
MAINTENANCE_MODE=
SERVER_URL=
STATIC_URL=

# AUTHENTICATION & SECURITY
AUTHENTICATION_ENFORCED="false"
CSRF_COOKIE_HTTPONLY=
CSRF_COOKIE_SECURE=
DISABLE_PASSWORD_LOGINS=
DISABLE_SSL_REDIRECT="false"
ENABLE_CORS=
ENCRYPTED_TEXT_FIELD_KEY="bNqPWD4KdouaH-yxfl7PPdJLbbNt31mnJDwg9IHoGDM="  # run `python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"` to generate a new key
SESSION_COOKIE_SECURE=

# BACKGROUND TASKS
BACKGROUND_TASK_SERVICE=
BEANSTALK_SQS_REGION=
BEANSTALK_SQS_URL=
WORKER=

# CACHE
CACHE_BACKEND=
CACHE_LOCATION=
CACHE_MAX_ENTRIES=

# EMAIL
DEFAULT_FROM_EMAIL=
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
EMAIL_HOST=
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=
EMAIL_PORT=
EMAIL_USE_TLS=

# EXPLORE ENDPOINT
DB_READONLY_PASSWORD="postgres"
DB_READONLY_USERNAME="postgres"

# SANDBOX ACCOUNT
ENABLE_SETUPER_SANDBOX=
SETUPER_SANDBOX_PASSSWORD=

# STORAGE
# S3 - set USE_S3=true and fill in the AWS variables to use S3
USE_S3=
AWS_ACCESS_KEY_ID=
AWS_S3_ENDPOINT_URL=
AWS_S3_REGION_NAME=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

# AZURE - set USE_AZURE_STORAGE=true and fill in the Azure variables
USE_AZURE_STORAGE=
AZURE_CONNECTION_STRING=
AZURE_CONTAINER_NAME=
AZURE_CUSTOM_DOMAIN=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_ACCOUNT_NAME=

# ============================================================
# UI & THEMING
# ============================================================
APP_TITLE="IASO"
AVAILABLE_LANGUAGES=
FAVICON_PATH=
FORUM_PATH=
HIDE_BASIC_NAV_ITEMS=
LEARN_MORE_URL=
LOGIN_LOGO_PATH=
LOGO_PATH=
SHOW_NAME_WITH_LOGO=
THEME_PRIMARY_BACKGROUND_COLOR="#F5F5F5"
THEME_PRIMARY_COLOR="#006699"
THEME_SECONDARY_COLOR="#ff7961"
USER_MANUAL_PATH=

# ============================================================
# INTEGRATIONS
# ============================================================
# ClamAV (antivirus)
CLAMAV_ACTIVE="false"
CLAMAV_FQDN=
CLAMAV_PORT=

# Enketo
ENKETO_API_TOKEN="AZE78974654azeAZE"
ENKETO_DEV="true"
ENKETO_SIGNING_SECRET="supersecret"
ENKETO_URL="http://enketo:8005/"

# Product Fruits (in-app guidance)
PRODUCT_FRUITS_WORKSPACE_CODE=

# Superset
SUPERSET_ADMIN_PASSWORD=
SUPERSET_ADMIN_USERNAME=
SUPERSET_URL=

# Sentry
SENTRY_ENVIRONMENT=
SENTRY_ERRORS_HTTPERROR_SAMPLE_RATE=0.8
SENTRY_ERRORS_SAMPLE_RATE=1.0
SENTRY_FRONT_ENABLED=
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_URL=
