node_modules
celerybeat-schedule.db
.ipynb_checkpoints
*.swp
*~
privatekey.json
.nyc_output
coverage

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx built documentation
docs/build
hat/dashboard/static/docs/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

### Translations ###
*.mo

# Deployment
build_scripts/Dockerrun.aws.json
build_scripts/deploy.zip

# Elastic Beanstalk Files
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml
.elasticbeanstalk/config.yml
.elasticbeanstalk/logs

### Built JS ###
hat/assets/bundles/
hat/assets/messages/**/*.json

\.DS_Store

\.vscode/
\.devcontainer

/pgdata/

hat/assets/webpack/webpack-stats\.json

bin/

include/python3.6m

pip-selfcheck.json
data

# dev environment
.env*
\.idea/*



/static

# lint error checking output
lintErrors.html

# gpkg tempory files
*.gpkg-shm
*.gpkg-wal

# translations scan temporary files
/hat/assets/js/apps/Iaso/domains/app/translations/extracted/
**/translations/extracted/
extracted_translation.json

hat/assets/webpack/
docker/DHIS2_home/

# enketo build
docker/enketo/checksum/
docker/enketo/css/
docker/enketo/js/
docker/enketo/locales/
docker/enketo/redis/
docker/enketo/redis_main_data/
docker/enketo/secrets/
docker/enketo/redis-enketo-main.conf
docker/enketo/start.sh

temp.json
*.mp4

cypress/screenshots/
cypress/videos/
**/cypress/screenshots/
**/cypress/videos/
**/cypress/integration/1-getting-started
**/cypress/integration/2-advanced-examples

mockLQASData.json
mockImData.json


docker-compose.dev.yml
entrypoint.dev.sh
requirements_m1.txt
requirements_3_8.txt

.python-version
hat/settings_local.py
runpycharmdev.sh
runmypydev.sh
mypydev.ini

venv


#mkdocs
/bin/**/*
/include/**/*
/lib/**/*
pyvenv.cfg
originals

*.code-workspace
/setuper/credentials.py
/setuper/generated/
plugins/trypelim

