version: "3"
services:
  iaso:
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    image: iaso
    ports:
      - "8081:8081"
    volumes: &hat_volumes
      - ./manage.py:/opt/app/manage.py
      - ./hat:/opt/app/hat
      - ./iaso:/opt/app/iaso
      - ./beanstalk_worker:/opt/app/beanstalk_worker
      - ./django_sql_dashboard_export:/opt/app/django_sql_dashboard_export
      - ./media:/opt/app/media
      - ./plugins:/opt/app/plugins
      - ./scripts:/opt/app/scripts
      - ./entrypoint.sh:/opt/app/entrypoint.sh
      - ./README.md:/opt/app/README.md
      - ./tsconfig.json:/opt/app/tsconfig.json
      - ./babel-register.js:/opt/app/babel-register.js
      - ./mypy.ini:/opt/app/mypy.ini
      # test data
      - ./testdata:/opt/app/testdata
      # jupyter notebooks
      - ./notebooks:/opt/notebooks
      # Optional Used to load dev bluesquare-components JS. See `Live Bluesquare components` in doc
      - ../bluesquare-components:/opt/bluesquare-components
    links: &hat_links
      - db
    environment: &hat_environment
      PREPAREDNESS_TEMPLATE_ID:
      PREPAREDNESS_TEMPLATE_FR_ID:
      PLUGINS:
      GOOGLE_API_KEY_BASE64:
      SENTRY_ENVIRONMENT: "development"
      RDS_HOSTNAME: db
      RDS_DB_NAME:
      THEME_PRIMARY_COLOR:
      THEME_SECONDARY_COLOR:
      THEME_PRIMARY_BACKGROUND_COLOR:
      OPENHEXA_TOKEN:
      FAVICON_PATH:
      LOGO_PATH:
      APP_TITLE:
      SHOW_NAME_WITH_LOGO:
      RDS_USERNAME: postgres
      RDS_PASSWORD: postgres
      DB_READONLY_USERNAME: postgres
      DB_READONLY_PASSWORD: postgres
      DEBUG: "true"
      DEBUG_SQL:
      TEST_PROD:
      SECRET_KEY: secret
      AWS_STORAGE_BUCKET_NAME:
      AWS_ACCESS_KEY_ID:
      AWS_SECRET_ACCESS_KEY:
      PYTHONUNBUFFERED: "true"
      ENKETO_DEV: "true"
      ENKETO_API_TOKEN: AZE78974654azeAZE
      ENKETO_URL: http://enketo:8005/
      EMAIL_BACKEND: "django.core.mail.backends.console.EmailBackend"
      LIVE_COMPONENTS:
      WFP_AUTH_CLIENT_ID:
      WFP_AUTH_ACCOUNT:
      WFP_EMAIL_RECIPIENTS_NEW_ACCOUNT:
      SERVER_URL:
    # Limit logging in dev to not overflow terminal
    logging: &iaso_logging
      driver: "json-file"
      options:
        max-size: "5k"
    command: start_dev

  db:
    image:
      iaso/postgis
    # Workaround until there is a stable Postgis image for Apple Silicon
    build: docker/db
    logging: *iaso_logging
    ports:
      - "5433:5432"
    volumes:
      - ../pgdata-iaso:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${RDS_DB_NAME}
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  # the webpack dev server
  webpack:
    image: iaso-webpack
    platform: linux/amd64
    build:
      context: .
      dockerfile: docker/webpack/Dockerfile
    depends_on:
      - iaso
    ports:
      - "3000:3000"
    volumes: *hat_volumes
    environment: *hat_environment
    logging: *iaso_logging
    command: start_webpack
