site_name: Iaso
theme:
  name: readthedocs
  highlightjs: true
plugins:
  - search
  - mermaid2
  - awesome-pages:
          collapse_single_pages: true
  - mkdocstrings:
      handlers:
        # See: https://mkdocstrings.gipip3 thub.io/python/usage/
        python:
          options:
            docstring_style: sphinx
markdown_extensions:
  - markdown_include.include:
      base_path: .
  - admonition
nav:
  - Home: index.md
  - Users: 
    - References:
      - User guide:
        - ./pages/users/reference/user_guide/user_guide.md
      - Interoperability road map:
        - ./pages/users/reference/interop/interop.md
      - How to:
        - ./pages/users/how_to/convert_docx_to_md/convert_docx_to_md.md
      - FAQ: ./pages/users/FAQ/faq.md
  - Developers:
    - References:
      - SQL dashboard : 
        - ./pages/dev/reference/sql_dashboard/SQL_Dashboard_feature.md
      - Entities:
        - ./pages/dev/reference/entities_in_iaso/entities_in_iaso.md
      - Front-end:
        - ./pages/dev/reference/front-end_reference/front-end_reference.md
      - Data model glossary:
        - ./pages/dev/reference/data_model_glossary/data_model_glossary.md
      - Audit:
        - ./pages/dev/reference/audit/audit.md
      - Vector control:
        - ./pages/dev/reference/vector_control/vector_control.md
      - API: 
        - ./pages/dev/reference/API/entity.md
    - How to:
      - Contribute:
        - ./pages/dev/how_to/contribute/contribute.md 
      - Set up your dev environment:
        - ./pages/dev/how_to/setup_dev_env/setup_dev_env.md 
      - Manually test Enketo public_create_url:
        - ./pages/dev/how_to/manually_test_enketo/manually_test_enketo.md 
      - Deploy:
        - ./pages/dev/how_to/deploy/deploy.md
      - Use the APIs:
        - ./pages/dev/how_to/use_iaso_apis/use_iaso_apis.md
      - Run docs locally:
        - ./pages/dev/how_to/run_docs_locally/run_docs_locally.md
      - Write a visit on an NFC card: 
        - ./pages/dev/how_to/write_visit_on_nfc/write_visit_on_nfc.md

  - More about Iaso:
    - Bluesquare: https://www.bluesquarehub.com/
    - Source code: https://github.com/BLSQ/iaso



