# Configuration for black, which automatically reformat python code.
# see README for more info
[tool.black]
line-length = 120
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | node_modules
  | src/django-webpack-loader
)/
'''


[project]
name= "Iaso"
readme = "README.md"
requires-python = "~=3.12"

[project.urls]
Repository = "https://github.com/BLSQ/"
