Django==1.10.4
django-debug-toolbar==1.6
psycopg2==2.6.2
requests==2.12.3
flake8==3.2.1
rq==0.7.1
rq-scheduler==0.7.0
django-rq==0.9.4
redis==2.10.5
jupyter==1.0.0
pandas==0.19.1
SQLAlchemy==1.1.4
uwsgi==2.0.14
newrelic==2.74.0.54
django-webpack-loader==0.4.0
djangorestframework==3.5.3
jsonschema==2.5.1
selenium==2.45.0
sauceclient==0.2.1
oauth2client==4.0.0
mock==2.0.0
simpledbf==0.2.6
xlrd==1.0.0
snaql==0.4
