django==1.10.5
django-cors-headers==2.0.2
django-debug-toolbar==1.6
django-rq==0.9.4
django-sql-explorer==1.0
django-webpack-loader==0.4.0
djangorestframework==3.5.3
flake8==3.3.0
flake8-mypy==17.3.2
jsonschema==2.6.0
jupyter==1.0.0
mock==2.0.0
oauth2client==4.0.0
pandas==0.19.2
psycopg2==2.6.2
redis==2.10.5
requests==2.13.0
rq-scheduler==0.7.0
rq==0.7.1
sauceclient==0.2.1
selenium==3.0.2
simpledbf==0.2.6
snaql==0.4
uwsgi==2.0.14
xlrd==1.0.0
Sphinx==1.5.3
