.navigation__container,
.link--print,
.filter__label,
.filter__container__select:after,
.leaflet-control-layers,
.leaflet-control-zoom {
  display: none;
}

.content {
  padding: 32px 0;
}

.container--main {
  padding-left: 0;
}

.header {
  padding: 18px 0;
}

.filter__container {
  padding: 0 0 24px 0;
  margin: 0;
  background: transparent;
  border-bottom: none;
}

.select--minimised {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0;
  width: auto;
  padding: 0 15px;
  border: 0;
}

.hide-on-print {
  display: none;
}

.toggle-menu-container {
  display: none;
}
