{% extends "app.html" %}
{% load i18n %}

{% block header %}
  <h1 class="header__title">{% trans "Cases" %}</h1>
{% endblock %}

{% block content %}
  <div class="content">

    <form name="casesfilter" method="GET" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="filter__container">
        <h2 class="filter__label">Location</h2>
        <div class="filter__container__select">
          <label class="filter__container__select__label" for="{{ form.ZS.id_for_label }}">ZS</label>
          {{ form.ZS }}
        </div>
        {% if not form.AS.is_hidden %}
          <div class="filter__container__select">
            <label class="filter__container__select__label" for="{{ form.AS.id_for_label }}">AS</label>
            {{ form.AS }}
          </div>
        {% endif %}
        {% if not form.village.is_hidden %}
          <div class="filter__container__select">
            <label class="filter__container__select__label" for="{{ form.village.id_for_label }}">village</label>
            {{ form.village }}
          </div>
        {% endif %}
      </div>

      <div class="filter__container">
        <h2 class="filter__label">Field</h2>
        <div class="filter__container__select">
          <label class="filter__container__select__label" for="{{ form.case_field.id_for_label }}">Name</label>
          {{ form.case_field}}
        </div>
        {% if not form.case_field_value.is_hidden %}
          <div class='filter__container__input'>
            <label class="filter__container__select__label" for="{{ form.case_field_value.id_for_label }}">Value</label>
            {{ form.case_field_value}}
          </div>
          <button type="submit" class="button--reduced block--margin-left--xs">{% trans "Search" %}</button>
        {% endif %}
      </div>
    </form>

    <div class="widget__container">
      <div class="widget__header">
        <h2 class="widget__heading">
          {{ count }} Cases found
        </h2>
      </div>

      <section class="widget__content">
        <table class="table--minimised duplicates__table duplicates__table--list">
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Location</th>
              <th>ID</th>
            </tr>
          </thead>
          <tbody>
            {% for case in cases %}
              <tr>
                <td>{{ case.document_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ case.name }} {{ case.prename}} {{ case.lastname }}</td>
                <td>{{ case.age }}</td>
                <td>{{ case.sex }}</td>
                <td>{{ case.ZS }} {{ case.AS }} {{ case.village }}</td>
                <td><a href="{% url 'cases:cases_details' doc_id=case.document_id %}?back={{ request.get_full_path|urlencode }}">{{ case.document_id }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>

      <div class="widget__pagination">
        {% if prev_url %}
          <a class="button--minimised block--margin-right--xxs" href="{{ prev_url }}">
            <i class="fa fa-arrow-left"></i>
            <span>Previous</span>
          </a>
        {% endif %}

        {% if next_url %}
          <a class="button--minimised" href="{{ next_url }}">
            <span>Next</span>
            <i class="fa fa-arrow-right icon--right"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
