{% load i18n %}

<form name="casesfilter" method="GET" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="filter__container">
    <h2 class="filter__label">
      <i class="fa fa-globe"></i>
      {% trans "Location" %}
    </h2>
    <div class="filter__container__select">
      <label class="filter__container__select__label" for="{{ form.ZS.id_for_label }}">{% trans "ZS" %}</label>
      {{ form.ZS }}
    </div>
    {% if not form.AS.is_hidden %}
      <div class="filter__container__select">
        <label class="filter__container__select__label" for="{{ form.AS.id_for_label }}">{% trans "AS" %}</label>
        {{ form.AS }}
      </div>
    {% endif %}
    {% if not form.village.is_hidden %}
      <div class="filter__container__select">
        <label class="filter__container__select__label" for="{{ form.village.id_for_label }}">{% trans "Village" %}</label>
        {{ form.village }}
      </div>
    {% endif %}
  </div>
  <div class="filter__container">
    <h2 class="filter__label">
      <i class="fa fa-calendar"></i>
      {% trans "Timeframe" %}
    </h2>
    <div class="filter__container__input">
      <label class="filter__container__select__label" for="{{ form.date_from.id_for_label }}">{% trans "From" %}</label>
      {{ form.date_from }}
    </div>
    <div class="filter__container__input">
      <label class="filter__container__select__label" for="{{ form.date_to.id_for_label }}">{% trans "To" %}</label>
      {{ form.date_to }}
    </div>
  </div>

  {% if not form.case_field.is_hidden %}
    <div class="filter__container">
      <h2 class="filter__label">
        <i class="fa fa-search"></i>
        {% trans "Field" %}
      </h2>
      <div class="filter__container__select">
        <label class="filter__container__select__label" for="{{ form.case_field.id_for_label }}">{% trans "Name" %}</label>
        {{ form.case_field }}
      </div>
      {% if not form.case_field_value.is_hidden %}
        <div class='filter__container__input'>
          <label class="filter__container__select__label" for="{{ form.case_field_value.id_for_label }}">{% trans "Value" %}</label>
          {{ form.case_field_value }}
        </div>
        <button type="submit" class="button--reduced block--margin-left--xs">{% trans "Search" %}</button>
      {% endif %}
    </div>
  {% endif %}

  {% if not form.order.is_hidden %}
    <div class="filter__container">
      <h2 class="filter__label">
        <i class="fa fa-sort-alpha-asc"></i>
        {% trans "Order" %}
      </h2>
      <div class="filter__container__select">
        <label class="filter__container__select__label" for="{{ form.order.id_for_label }}">{% trans "Name" %}</label>
        {{ form.order }}
      </div>
      <div class="form__wrapper inline">
        {{ form.asc_desc }}
      </div>
    </div>
  {% endif %}
</form>
