{% extends 'app.html' %}
{% load i18n %}
{% load hat %}

{% block header %}
  <h1 class="header__title">{% trans 'Analysis of cases' %}</h1>
{% endblock %}

{% block content %}
  <div class="content">

    {% include 'cases/filters.html' with form=form custom=custom_filters %}

    <div class="widget__container">
      <div class="widget__header">
        <h2 class="widget__heading">
          <span class="text--marked">{{ page.count }}</span> {% trans 'Entries' %}
          -
          <span class="text--marked">{{ total_participants }}</span> {% trans 'Participants' %}
          -
          <span class="text--marked">{{ total_suspect }}</span> {% trans 'Suspect cases' %}
          -
          <span class="text--marked">{{ total_confirmed }}</span> {% trans 'Confirmed cases' %}
        </h2>
      </div>

      <section class="widget__content">
        <table class="table--minimised list__table list__table--list" data-qa="analysis-cases-data-loaded">
          <thead>
            <tr>
              {% for column in columns %}
                <th>{{ column.label }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for case in page.items %}
              <tr>
                {% for column in columns %}
                  {% if case|get:column.id|date %}
                  <td>{{ case|get:column.id|date:'j F Y' }}</td>
                  {% else %}
                  <td>{{ case|get:column.id }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>

      {% include 'pagination.html' with page=page only %}
    </div>

    {% include 'data_sources.html' with mobile='true' historical='true' pv='true' only %}

  </div>
{% endblock %}
