{
  "AWSEBDockerrunVersion": 2,
  "volumes": [
    {
      "name": "sense-shared",
      "host": {
        "sourcePath": "/opt/shared"
      }
    }
  ],
  "containerDefinitions": [
    {
      "name": "trypelim",
      "image": "457634672864.dkr.ecr.eu-west-1.amazonaws.com/sense-hat:${TAG}",
      "essential": true,
      "memory": 1024,
      "hostname": "hat",
      "command": [ "start" ],
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 80
        }
      ],
      "mountPoints": [
        {
          "sourceVolume": "sense-shared",
          "containerPath": "/opt/shared",
          "readOnly": false
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "sense-hat-${ENV}",
          "awslogs-region": "eu-central-1",
          "awslogs-stream-prefix": "sense-hat"
        }
      }
    }

  ]
}
