{
  "AWSEBDockerrunVersion": 2,
  "volumes": [
    {
      "name": "sense-shared",
      "host": {
        "sourcePath": "/opt/shared"
      }
    }
  ],
  "containerDefinitions": [
    {
      "name": "sense-web",
      "image": "387526361725.dkr.ecr.eu-west-1.amazonaws.com/hat-historical:${TAG}",
      "essential": true,
      "memory": 1024,
      "hostname": "sense-web",
      "command": [ "start" ],
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 80
        }
      ],
      "mountPoints": [
        {
          "sourceVolume": "sense-shared",
          "containerPath": "/opt/shared",
          "readOnly": false
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "sense-hat-${BRANCH}",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "sense-hat"
        }
      },
      "links": [
        "redis"
      ]
    },
    {
      "name": "redis",
      "image": "redis:3.2",
      "essential": true,
      "memory": 512,
      "hostname": "redis",
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "sense-hat-${BRANCH}",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "sense-hat"
        }
      }
    },
    {
      "name": "sense-rq",
      "image": "387526361725.dkr.ecr.eu-west-1.amazonaws.com/hat-historical:${TAG}",
      "essential": true,
      "memory": 512,
      "hostname": "sense-rq",
      "command": [ "start_rq" ],
      "mountPoints": [
        {
          "sourceVolume": "sense-shared",
          "containerPath": "/opt/shared",
          "readOnly": false
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "sense-hat-${BRANCH}",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "sense-hat"
        }
      },
      "links": [
        "redis"
      ]
    }
  ]
}
