{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div class="login__container">
    <div class="login__content">
        <header class="login__header">
            <h1 class="login__heading">{% trans 'Tableau de Bord Trypelim' %}</h1>
            <p>{% trans 'Changer votre mot de passe' %}</p>
        </header>
        <form method="post" class="login__form">
            {% csrf_token %} {{ form }}
            <button type="submit" class="button">{% trans 'Changer' %}</button>
        </form>
    </div>
</div>
{% endblock %}