{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div class="login__container">
    <div class="login__content">
        <header class="login__header">
            <h1 class="login__heading">{% trans 'Tableau de Bord Trypelim' %}</h1>
            <p>{% trans 'Changer votre mot de passe' %}</p>
        </header>
        <form method="post" class="login__form">
            {% csrf_token %} {{ form }}
            <button type="submit" class="button">{% trans 'Changer' %}</button>
        </form>
        <button id="display-password" onClick="togglePassword('id_new_password2')">
            <i class="fa fa-eye" id="eye-icon-id_new_password2" aria-hidden="true"></i>
        </button>
        <button id="display-password" class="id_new_password1"  onClick="togglePassword('id_new_password1')">
            <i class="fa fa-eye" id="eye-icon-id_new_password1" aria-hidden="true"></i>
        </button>
        <button id="display-password" class="id_old_password" onClick="togglePassword('id_old_password')">
            <i class="fa fa-eye" id="eye-icon-id_old_password" aria-hidden="true"></i>
        </button>
    </div>
</div>
<script>
  function togglePassword(key) {
    const passwordField = document.getElementById(key);
    if (passwordField.getAttribute('type') === 'password') {
      passwordField.setAttribute('type', 'text');
      document.getElementById('eye-icon-'+ key).setAttribute('class', 'fa fa-eye-slash');
    } else {
      passwordField.setAttribute('type', 'password');
      document.getElementById('eye-icon-'+ key).setAttribute('class', 'fa fa-eye');
    }
  }
</script>
{% endblock %}
