{% extends 'app.html' %}
{% load i18n %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}

  {# welcome section #}
  <section class="section--feature--welcome">
    <div class="section__content">
      <div class="section__content--welcome">
        <h1>{% trans 'Welcome to the SENSE HAT Dashboard' %}</h1>
        <div class="welcome__images">
          <img src="{% static 'images/drc-flag.png' %}" alt="DRC flag">
          <img src="{% static 'images/pnltha-logo.png' %}" alt="PNLTHA logo">
        </div>
        <p>
          {% blocktrans %}
          Programme National de Lutte contre la Trypanosomiase Humaine Africaine (PNLTHA) of the DRC Ministry of Health drives the programme to diagnose, treat and reduce HAT cases in the DRC.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </section>

  {# highlight pilot areas #}
  <section class="section--feature--pilot-area">
    <div class="section__content__image--pilot-area">
      <img src="{% static 'images/map.png' %}" alt="{% trans 'Map showing pilot health zones' %}" width="540" />
    </div>
    <div class="section__content--pilot-area">
      <h2>{% trans 'Programme Mission' %}</h2>
      <p>
        {% blocktrans %}
        To coordinate and organise the strugge against HAT in RD Congo
        {% endblocktrans %}
      </p>
      <h2>{% trans 'Programme Objective' %}</h2>
      <p>
        {% blocktrans %}
        To reduce the morbidity and mortality due to HAT to a level compatible with a normal productive life for the inhabitants of areas where the disease is endemic (1 case per 10,000 inhabitants)
        {% endblocktrans %}
      </p>
      <h2>{% trans 'Programme Organisation' %}</h2>
      <p>
        <strong>{% trans 'Central level' %}:</strong>
        {% blocktrans %}
        Normative and develop strategies and technical support for the provincial levels
        {% endblocktrans %}
      </p>
      <p>
        <strong>{% trans 'Provincial level' %}:</strong>
        {% blocktrans %}
        Organize and coordinate fighting in the province. Provide basic technical support and advice to provincial physicians
        {% endblocktrans %}
      </p>
      <p>
        <strong>{% trans 'Peripheral Operational level' %}:</strong>
        {% blocktrans %}
        Execution of the fight
        {% endblocktrans %}
      </p>

      {% if perms.menupermissions.x_plannings_microplanning %}
        <a href="{% url 'dashboard:micro' %}" class="button--success">
          {% trans 'Use the planning tool' %}
          <i class="fa fa-arrow-right icon--right"></i>
        </a>
      {% endif %}
    </div>
  </section>

  {# monthly reports #}
  <section class="section--feature--reports">
    <div class="section__content__image--reports">
      <img src="{% static 'images/monthly-report.png' %}" alt="{% trans 'Monthly report example' %}" />
    </div>
    <div class="section__content--reports">
      <h2>{% trans 'See monthly campaign reports' %}</h2>
      <p>
        {% blocktrans %}
        Report showing monthly statistics from active screening using the HAT mobile application. Statistics include: number of suspect and confirmed cases, participants missing tests, and more.
        {% endblocktrans %}
      </p>
      {% if perms.menupermissions.x_stats_reports %}
        <a href="{% url 'dashboard:monthly_report' %}" class="button--bright">
          {% trans 'Monthly reports' %}
          <i class="fa fa-arrow-right icon--right"></i>
        </a>
      {% endif %}
    </div>
  </section>

  {# upload/download #}
  <section class="section--feature--data">
    <div class="section__content--upload">
      <h2>{% trans 'Upload data from the field' %}</h2>
      <p>
        {% blocktrans %}
        Upload historical data forms from the Microsoft Access template or encrypted backup files from the Mobile Application.
        {% endblocktrans %}
      </p>
      {% if perms.menupermissions.x_datasets_datauploads %}
        <a href="{% url 'datasets:import_cases:upload' %}" class="button--bright">
          {% trans 'Data upload' %}
          <i class="fa fa-arrow-right icon--right"></i>
        </a>
      {% endif %}
    </div>

    <div class="section__content__heading--data">
      <img src="{% static 'images/upload-download.png' %}" alt="{% trans 'Upload data' %}" width="200" />
    </div>

    <div class="section__content--download">
      <h2>{% trans 'Check uploaded data' %}</h2>
      <p>
        {% blocktrans %}
        View the list of participants in the screening sessions, the historical cases...
        {% endblocktrans %}
      </p>
      {% if perms.menupermissions.x_case_cases %}
        <a href="{% url 'dashboard:cases_list' %}" class="button--bright">
          {% trans 'Data uploaded' %}
          <i class="fa fa-arrow-right icon--right"></i>
        </a>
      {% endif %}
   </div>
  </section>

  {# suspect cases #}
  <section class="section--feature--suspect">
    <div class="section__content--suspect">
      <h2>{% trans 'Follow up on unconfirmed cases' %}</h2>
      <p>
        {% blocktrans %}
        Download a list of participants who screened positive for HAT, but <strong>did not</strong> have a follow-up test to confirm.
        {% endblocktrans %}
      </p>
      {% if perms.menupermissions.x_case_cases %}
        <a href="{% url 'dashboard:cases_list' %}?suspect=true" class="button--bright">
          {% trans 'Go to HAT cases' %}
          <i class="fa fa-arrow-right icon--right"></i>
        </a>
      {% endif %}
    </div>
  </section>

  {# partners #}
  <section class="section--feature--partners">
    <h2>{% trans 'A proud partnership' %}</h2>
    <div class="section__content--partners">
      <ul class="section__list--partners">
        <li>Programme National de Lutte contre la Trypanosomiase Humaine Africaine</li>
      </ul>
      <ul class="section__list--partners">
        <li>Institute of Tropical Medicine</li>
      </ul>
    </div>
  </section>

{% endblock %}
