{% extends 'app.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block extrajs %}
    <script type="text/javascript">
        var STATIC_URL = "{{ STATIC_URL }}";
    </script>
{% endblock %}
{% block header %}
  <h1 class="header__title">Contrôle de qualité</h1>
{% endblock %}

{% block content %}

  <div class="content">
    <div id="app"></div>
  </div>

  {% render_bundle 'common' %}
  {% render_bundle 'quality_control' %}
  <script>
    HAT.quality_control.default(
      {},
      document.getElementById('app'),
      '/dashboard/quality-control/'
    )
  </script>

{% endblock %}
