{% extends "app.html" %}
{% load i18n %}

{% block head %}
  {% if not complete %}
    <meta http-equiv="refresh" content="2">
  {% endif %}
{% endblock %}

{% block header %}
  <h1 class="header__title">{{ title }}</h1>
{% endblock %}

{% block content %}
  <div class="content">
    {% if back_link %}
    <div>
      <a class="button--minimised" href="{{ back_link }}">
        <i class="fa fa-arrow-left"></i>
        <span>{% trans "Back" %}</span>
      </a>
    </div>
    <br/>
    {% endif %}

    <div class="widget__container">
      <div class="widget__header">
        <h2 class="widget__heading">
          {% if not complete %}
            <i class="fa fa-cog fa-spin"></i>
          {% endif %}
          {{ heading }}
        </h2>
      </div>
      <div class="widget__content">
        <p>{% trans "Status:" %} {{ status }}</p>
        {% if complete and download_link %}
          <p>
            <a class="button--success" href="{{ download_link }}">
              <i class="fa fa-download"></i>
              {% trans "Download file" %}
            </a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
