{% extends "app.html" %}
{% load i18n %}

{% block header %}
  <h1 class="header__title">{% trans "Data download" %}</h1>
{% endblock %}

{% block content %}

  <div class="content">
    <div class="widget__container">
      <div class="widget__header">
        <h2 class="widget__heading">{% trans "Export data" %}</h2>
      </div>
      <div class="widget__content">
        <form method="POST" action="{% url 'export:download' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset>
            <div class="form__wrapper">
              {{ form.start_date.errors }}
              {{ form.start_date.label_tag }}
              {{ form.start_date }}
            </div>

            <div class="form__wrapper">
              {{ form.end_date.errors }}
              {{ form.end_date.label_tag }}
              {{ form.end_date }}
            </div>

            <div class="form__wrapper">
              {{ form.sources.errors }}
              {{ form.sources.label_tag }}
              {{ form.sources }}
            </div>

            <div class="form__wrapper">
              {{ form.sep.errors }}
              {{ form.sep.label_tag }}
              {{ form.sep }}
            </div>

            <div class="">
              <button type="submit" class="button">
                {% trans "Prepare download" %}
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
