{% extends "app.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block header %}
  <h1 class="header__title">{% trans "Data upload" %}</h1>
{% endblock %}

{% block content %}
  
  <div class="content">
    <h2 class="content-subhead">Import file</h2>
    <p>
      <form method="POST" action="{% url 'import_export:upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="pure-button pure-button-primary">{% trans "Import" %}</button>
      </form>
    </p>
  </div>

  <div id='import'>

  </div>

  {% render_bundle 'common' %}
  {% render_bundle 'import' %}
{% endblock %}
