files:
  "/etc/nginx/conf.d/elasticbeanstalk/enable_gzip.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      gzip on;
      gzip_comp_level 6; # You can adjust this value (1-9)
      gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;

container_commands:
  01_disable_default_gzip:
    command: |
      if grep -q "gzip off;" /etc/nginx/nginx.conf; then
        sudo sed -i '/gzip off;/d' /etc/nginx/nginx.conf
        sudo sed -i '/gzip_comp_level/d' /etc/nginx/nginx.conf
        sudo sed -i '/gzip_types/d' /etc/nginx/nginx.conf
      fi
      sudo systemctl restart nginx