files:
  "/etc/nginx/conf.d/elasticbeanstalk/02_compression.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      gzip on;
      gzip_comp_level 5;
      gzip_min_length 256;
      gzip_proxied any;
      gzip_vary on;
      gzip_types
        text/plain
        text/css
        text/javascript
        application/javascript
        application/json
        application/xml
        application/xhtml+xml
        image/svg+xml;