container_commands:
  01_copy_python_script:
    command: "cp .ebextensions/get_env_name.py /opt/get_env_name.py"
  02_make_python_script_executable:
    command: chmod 755 /opt/get_env_name.py
  03_create_shared_directory:
    command: mkdir -p /opt/shared
  04_give_shared_directory_permission:
    command: chmod 666 /opt/shared
