packages:
  yum:
    newrelic-sysmond: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
container_commands:
  "01":
    command: nrsysmond-config --set license_key=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r .NEW_RELIC_LICENSE_KEY)
  "02":
    command: sed -i '/^hostname/d' /etc/newrelic/nrsysmond.cfg
  "03":
    command: echo hostname=$(python /opt/get_env_name.py) >> /etc/newrelic/nrsysmond.cfg
  "04":
    command: usermod -a -G docker newrelic
  "05":
    command: /etc/init.d/newrelic-sysmond restart
