commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_couchd.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /opt/python/current/app
      sudo python scripts/setup_couchdb_proxy.py /etc/httpd/conf.d/wsgi.conf $COUCHDB_URL
      sudo apachectl restart