container_commands:
 40translations:
   command: "django-admin.py compilemessages"
   env:
    PYTHONPATH: "/var/app/staging:$PYTHONPATH"
 50collectstatic:
   command: "django-admin.py collectstatic --noinput"
   env:
    PYTHONPATH: "/var/app/staging:$PYTHONPATH"
   leader_only: true
 60migrate:
   command: "django-admin.py migrate --noinput"
   env:
    PYTHONPATH: "/var/app/staging:$PYTHONPATH"
   leader_only: true
 70createcachetable1:
   command: "django-admin.py createcachetable"
   leader_only: true
option_settings:
 aws:elasticbeanstalk:application:environment:
   DJANGO_SETTINGS_MODULE: "hat.settings"
   SECRET_KEY: "temporary key for deploy"
   PYTHONPATH: "/var/app/current:$PYTHONPATH"
 aws:elasticbeanstalk:container:python:
   WSGIPath: "hat.wsgi:application"
