container_commands:
  30setupcouchdbproxy:
      command: "python scripts/setup_couchdb_proxy.py /etc/httpd/conf.d/wsgi.conf"
  40restartapache:
      command: "sudo apachectl restart"
  50collectstatic:
    command: " python manage.py collectstatic --noinput"
    leader_only: true
  60migrate:
    command: "python manage.py migrate"
    leader_only: true
  70translations:
    command: "python manage.py compilemessages"
