container_commands:
  30fixargparser:
    command: "pip uninstall -y argparse"
  31fixargparser2:
    command: "rm -f /opt/python/run/venv/lib/python3.8/site-packages/argparse.py"
  40translations:
    command: "python manage.py compilemessages"
  50collectstatic:
    command: " python manage.py collectstatic --noinput"
    leader_only: true
  60migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

