files:
  "/etc/httpd/conf.d/cache.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|json|css|swf)$">
      Header set Cache-Control "max-age=290304000, public"
      </FilesMatch>

  "/etc/httpd/conf.d/gzip.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        <Location />
        SetOutputFilter DEFLATE
        SetEnvIfNoCase Request_URI "\.(?:gif|jpe?g|png)$" no-gzip
        </Location>

  "/etc/httpd/conf.d/wsgi2.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        WSGIPassAuthorization On

  "/etc/httpd/conf.d/health.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        <Location /_health>
           SetHandler server-status
        </Location>

  "/etc/httpd/conf.d/increase_timeout.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        # Certain request such as exports can take a long time so we will increase the timout
        TimeOut 300

container_commands:
  02-restart-http:
    command: service httpd restart
