files:
  "/etc/cron.d/refresh_preparedness_data":
    mode: "000644"
    owner: root
    group: root
    content: |
        MAILTO="olethanh@bluesquarehub.com"
        PATH=/opt/python/run/venv/bin/python:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        0 0 * * FRI wsgi /opt/python/current/app/scripts/command_in_eb.sh refresh_preparedness_data
  "/etc/cron.d/trypelim-metrics":
    mode: "000644"
    owner: root
    group: root
    content: |
        MAILTO=""
        PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        3 1 * * * ec2-user /opt/python/current/app/scripts/collect_stats.sh

  "/etc/cron.d/trypelim-import-devices":
    mode: "000644"
    owner: root
    group: root
    content: |
        MAILTO=""
        PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        0 * * * * ec2-user /opt/python/current/app/scripts/import_devices.sh
commands:
  rm_old_cron:
    command: "rm *.bak"
    cwd: "/etc/cron.d"
    ignoreErrors: true
