files:
  "/etc/systemd/system/polio_weekly_email.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Send reminder e-mail for polio
      
      [Service]
      User=webapp
      Type=simple
      #ExecStartPre=source /var/app/venv/staging-LQM1lest/bin/activate
      ExecStart=/bin/sh -c 'if [[ $PLUGINS  =~ "polio" ]]; then /var/app/venv/staging-LQM1lest/bin/django-admin weekly_email; else echo "plugin polio disabled"; fi'
      
      EnvironmentFile=/opt/elasticbeanstalk/deployment/env 
      StandardOutput=syslog
      StandardError=syslog
      SyslogIdentifier=web-cron
      WorkingDirectory=/var/app/current/

  "/etc/systemd/system/polio_weekly_email.timer":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Timer]
      OnCalendar=Fri *-*-* 01:00:00
      Persistent=false
      
      [Install]
        WantedBy=timers.target

# according to Amazon doc these are run after the file are copied with root user
container_commands:
  90enable_cron_weekly_email:
    command: "systemctl enable polio_weekly_email.timer && systemctl start polio_weekly_email.timer"