files:
  "/etc/cron.d/refresh_preparedness_data":
    mode: "000644"
    owner: root
    group: root
    content: |
        MAILTO="olethanh@bluesquarehub.com"
        PATH=/opt/python/run/venv/bin/python:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        0 0 * * FRI wsgi /opt/python/current/app/scripts/command_in_eb.sh refresh_preparedness_data
