files:
  "/etc/cron.d/trypelim-metrics":
    mode: "000644"
    owner: root
    group: root
    content: |
        MAILTO=""
        PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        3 1 * * * root /var/app/current/plugins/trypelim/scripts/collect_stats.sh

  "/etc/cron.d/trypelim-import-devices":
    mode: "000644"
    owner: root
    group: root
    content: |
        MAILTO=""
        PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        0 * * * * root /var/app/current/plugins/trypelim/scripts/import_devices.sh
commands:
  rm_old_cron:
    command: "rm *.bak"
    cwd: "/etc/cron.d"
    ignoreErrors: true
