files:
  "/etc/cron.d/trypelim-nightly":
    mode: "000644"
    owner: root
    group: root
    content: |
        MAILTO=""
        PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        0 1 * * * root /var/app/current/plugins/trypelim/scripts/trypelim-nightly.sh

  "/etc/cron.d/trypelim-hourly":
    mode: "000644"
    owner: root
    group: root
    content: |
        MAILTO=""
        PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        0 0,7-23 * * * root /var/app/current/plugins/trypelim/scripts/trypelim-hourly.sh

commands:
  01_rm_old_cron_backups:
    command: "rm *.bak"
    cwd: "/etc/cron.d"
    ignoreErrors: true

container_commands:
  01_chmod_scripts:
    command: "chmod +x plugins/trypelim/scripts/*.sh"
