files:
  "/etc/cron.d/trypelim-nightly":
    mode: "000644"
    owner: root
    group: root
    content: |
        MAILTO=""
        PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        30 2 * * * root /var/app/current/plugins/trypelim/scripts/trypelim-nightly.sh

  "/etc/cron.d/trypelim-hourly":
    mode: "000644"
    owner: root
    group: root
    content: |
        MAILTO=""
        PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        0 * * * * root /var/app/current/plugins/trypelim/scripts/trypelim-hourly.sh

commands:
  01_rm_old_cron_backups:
    command: "rm *.bak"
    cwd: "/etc/cron.d"
    ignoreErrors: true

  02_remove_old_cron_jobs:
    command: "rm -f /etc/cron.d/trypelim-metrics /etc/cron.d/trypelim-mv-daily-refresh /etc/cron.d/trypelim-import-devices /etc/cron.d/trypelim-etl"
    ignoreErrors: true

container_commands:
  01_chmod_scripts:
    command: "chmod +x plugins/trypelim/scripts/*.sh"