# We have an additional django log in /var/app/logo, prepare directory for it.
commands:
  01_create_directory:
    command: "mkdir /var/app/log"
    ignoreErrors: true
  02_change_permissions:
    command: chmod g+s /var/app/log
  03_change_owner:
    command: chown webapp:webapp /var/app/log
  04_change_default_owner:
    command: setfacl -d -m g::rw /var/app/log
