# Add the request time and upstream response time to the nginx access logs. 
files:
  "/etc/nginx/conf.d/01_log_format.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      log_format main_timed '$remote_addr - $remote_user [$time_local] "$request" '
                            '$status $body_bytes_sent "$http_referer" '
                            '"$http_user_agent" "$http_x_forwarded_for" '
                            'rt=$request_time urt=$upstream_response_time';

container_commands:
  01_update_access_log_directive:
    command: 'sed -i -E "s|(^[[:space:]]*access_log[[:space:]]+/var/log/nginx/access.log)[^;]*;|\1 main_timed;|" /etc/nginx/nginx.conf'

  02_validate_and_reload_nginx:
    command: 'nginx -t && service nginx reload'
