{% extends "base.html" %}

{% block nav %}
  {% if perms.participants.import_mdb %}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href={% url "historic:upload" %}>Upload</a>
    </li>
  {% endif %}
  {% if perms.participants.export_full %}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href={% url "historic:download" %}>Download</a>
    </li>
  {% endif %}

  <li class="pure-menu-item">
    <a href={% url 'logout' %} class="pure-menu-link">Logout</a>
  </li>
{% endblock %}

{% block content %}
  <div class="header">
    <h1>Sense HAT</h1>
    <h2>Historic data</h2>
  </div>
{% endblock %}
