.array-field-container {
    display: inline-block !important;
    margin-bottom: $padding-unit / 2;
    margin-top: 4px;
    input {
        width: 100% !important;
        margin-bottom: 5px;
        height: 32px !important;
        box-sizing: border-box;
    }
    >span {
        position: relative;
        .remove-button{
            position: absolute;
            right: 0px;
            top: -2px;
        }
    }
    button {
        top: 3px;
        margin-right: 5px;
        i {
            margin: 0 !important;
        }
    }
}