.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar-label {
    font-size: 9px;
    font-weight: normal;
    text-anchor: middle;
}

.tooltip-container-bg {
    display: none;
    fill: white;
    fill-opacity: .5;
    stroke: $gray;
    stroke-width: 1px;
}

.tooltip {
    font-size: 9px;
    fill-opacity: 1;
    fill: black;
    stroke: transparent;
    text-anchor: middle;
}

.bar-chart-container {
    display: flex;
    .bar-chart {
        flex-basis: 80%;
        margin-top: 30px;
        svg {
            overflow: visible;
            position: relative;
        }
        &.full {
            flex-basis: 100%;
        }
    }
    .legend-container {
        flex-basis: 20%;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        display: flex;
        flex-direction: column;
    }
    .legend,
    .extra {
        list-style: none;
        padding: 10px;
        border: 1px solid $gray;
        border-radius: 5px;
        font-size: 12px;
        width: 100%;
        box-sizing: border-box;
    }
    .extra {
        margin-bottom: $padding-unit / 2;
    }
    .legend__item {
        padding: 8px 20px 15px 40px;
        position: relative;
    }
    .legend__color {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        position: absolute;
        top: 4px;
        left: 10px;
    }
    .period-line {
        stroke: $gray;
        stroke-width: 1px;
    }
    .period-label {
        color: $gray;
        font-size: 9px;
        font-weight: normal;
        text-anchor: middle;
    }
}