.cases-filter {
    font-weight: bold;
    color: $mid-gray;
    font-size: 12px;
    padding-bottom: 8px;
}
.list-cases-filters {
    padding: $padding-unit 0 0 0;
    &>div {
        display: flex;
        .cases-filter{
            flex-basis: 25%;
            box-sizing: border-box;
            padding: 0 $padding-unit $padding-unit $padding-unit;
            >span {
                font-weight: bold;
                color: #868486;
                margin-bottom: 6px;
                font-size: 12px;
                display: block;
            }
        }
    }
}
.cases-subtitle {
    font-weight: bold;
    color: $mid-gray;
    margin-bottom: 6px;
}