$secondary-color: #868486;
.dnd-container {
    position: relative;
    display: flex;
    margin-bottom: 5px;
    ul {
        position: relative;
        min-height: 30px;
        display: inline-block;
        list-style: none;
        background-color: transparent;
        border: 1px solid $light-gray;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        width: calc(100% - 40px);
    }
    .month-selector {
        display: flex;
        width: 70px;
        border: 1px solid #D2D2D2;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom: 2px solid #D2D2D2;
        padding: 5px 6px;
        box-sizing: border-box;
        color: $secondary-color;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: none !important;
        outline: none !important;
        cursor: pointer;
        span {
            display: inline-block;
            font-size: 10px;
            padding-top: 5px;
        }
        &.selected, &:hover {
            background-color: $secondary-color;
            color: white;
        }
    }
    .no-assignation-text {
        color: $secondary-color;
        font-size: 12px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        span {
            padding-top: 14px
        }
    }
    .is-draging-over {
        background-color: $light-gray;
        .no-assignation-text {
            display: none;
        }
    }
    .drag-over {
        background-color: $light-gray;
    }
    li {
        border-bottom: 1px solid $light-gray;
        background-color: transparent;
        position: relative;
        outline: none ! important;
        box-shadow: none ! important;
        min-height: 41px;
        > span {
            box-sizing: border-box;
            padding: 11px 27px 13px 8px;
            background-color: white;
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            height: 100%;
            padding-right: 85px;
        }
        .visited-village {
            background-color: transparent;
            color: $green;
            width: auto;
            padding: 5px 0 0 0;
            width: 100%;
            span {
                display: inline;
                position: relative;
                top: -1px;
                background-color: transparent;
                padding: 0 0 0 8px;
            }
        }
        i {
            &.fa-bars{
                background-color: white;
                color: #D2D2D2;
                display: inline-block;
                width: 25px;
                position: absolute;
                right: 0;
                top: 8px;
                padding-top: 6px;
                text-align: center;
            }
        }
    }
    .routes-split-button-container {
        background-color: white;
        position: absolute;
        right: 25px;
        top: 6px;
        .MuiIconButton-sizeSmall {
            padding: 6px;
        }
    }
}