
.duplicates__table {
  th:not(:first-child),
  td:not(:first-child) {
    padding-left: $padding-unit * 0.5;
  }
}

.duplicates__table--list {
  .location__td {
    color: $dark-gray;
    text-transform: uppercase;
    padding: $padding-unit * 1.5 0 $padding-unit * 0.5 0;
    border-bottom: 1px solid $dark-gray;
  }
}

.duplicates__table--details {
  tr:last-child td {
    border-bottom: 0;
  }
  td:not(:first-child) {
    border-left: 1px solid $light-gray;
  }
  td:last-child {
    background-color: #efefef;
  }
  tr:last-child td:last-child {
    border-left: 0;
  }
  form {
    display: inline-block;
  }
}
