$filter-container-height: 2rem;

@mixin filter-container-common {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background: $background-highlight-gray;
  border-bottom: 1px solid $gray;
}

.filter__container {
  @include filter-container-common;
  padding: $padding-unit*.75 $padding-unit;
  margin: -$padding-unit;
  margin-bottom: $padding-unit;
  padding-bottom: $padding-unit*.25;
}

.filter__container--reduced {
  @include filter-container-common;
  padding: $padding-unit/2 $padding-unit;
  margin-bottom: 0;
  border-bottom: none;
}

.filter__label {
  @include text--label;
  margin-right: $padding-unit/2;
}

.filter__container__input, .filter__container__multiselect, .filter__container__select {
  position: relative;
  border: 1px solid $light-gray;
  border-radius: 2px;
  margin-right: $padding-unit/2;
  margin-bottom: $padding-unit/2;
  &:last-of-type {
    margin-right: 0;
  }
}

.filter__container__select {
  $triangle-size: 4px;
  &:after {
    position: absolute;
    right: 10px;
    top: calc(#{$filter-container-height}/2 - #{$triangle-size}/2);
    @include triangle(bottom, $dark-blue, $triangle-size);
  }
}

.filter__container__select__label {
  background: #F0F4F5;
  border-right: 1px solid $light-gray;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: $filter-container-height;
  line-height: $filter-container-height;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-weight: normal;
  color: $mid-gray;
  font-size: $font-size-s;
  .fa {
    margin-right: 0.4em;
  }
}

@mixin filter-select-positioning {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: $filter-container-height;
  margin: 0;
}

@mixin filter-select-style {
  @include text--standard;
  padding: 0 10px;
  border: 0;
  background: white;
  -webkit-appearance: none;
  font-size: $font-size-s;
  &:focus {
    outline: #E0E5EB auto 4px;
    outline-offset: -3px;
  }
}

.filter__container__select__label__after {
  background: #F0F4F5;
  border-left: 1px solid $light-gray;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: $filter-container-height;
  line-height: $filter-container-height;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-weight: normal;
  color: $mid-gray;
  font-size: $font-size-s;
  .fa {
    margin-right: 0.2em;
  }
}

.filter__container__multiselect {
  label {
    border: none;
  }

  .Select {
    border-left: 1px solid $light-gray;
    max-width: 300px;
    min-width: 200px;
    display: inline-block;
    font-size: $font-size-s;
    vertical-align: bottom;
  }
  .Select-control {
    border: none;
    height: auto;
  }
  .Select-input {
    height: $filter-container-height;
    display: inline-block;
    input {
      width: 2px;
    }
  }
  .Select-value {
    color: $blue;
  }
  .Select-menu-outer {
    max-height: 150px;
    margin: 0 -1px;
  }
  .Select-menu {
    max-height: 148px;
    overflow-y: auto;
  }
}


input[type="number"].input--minimised {
  @include text--standard;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: $filter-container-height;
  margin: 0;
  padding: 0 10px;
  border: none;
  border-radius: 0;
  background: white;
  -webkit-appearance: none;
  font-size: $font-size-s;
  &:focus {
    outline: #E0E5EB auto 4px;
    outline-offset: -3px;
  }
}


.react-datepicker__input-container {
  @include filter-select-positioning;
  input[type="text"] {
    @include filter-select-style;
    /* some stuff to override text input styles: */
    box-sizing: border-box;
    width: 200px;
    height: $filter-container-height;
    box-shadow: none;
  }
}


.select--minimised {
  @include filter-select-positioning;
  @include filter-select-style;
}
