$primary-color: #2372BA;

@import "iaso/reactTable";
@import "iaso/leafletCluster";

.iaso {
    background-color: $background-gray !important;
    height: 100vh;
    overflow: hidden;

    .leaflet-container {
        height: 80vh;
    }

    >.fullscreen {
        z-index: 10000;
        position: relative;

        .react-images__view {
            img {
                max-height: 90vh;
                max-width: 150%;
            }
        }
    }
}