$primary-color: #2372BA;

@import "iaso/select";
@import "iaso/reactTable";
@import "iaso/leafletCluster";

.iaso {
    background-color: $background-gray !important;

    &.instances {
        .ReactTable .rt-tbody {
            padding-bottom: 16px;
        }
    }

    .leaflet-container {
        height: 80vh;
    }

}
