.content {
  padding: $padding-unit;
}

.container--main {
  flex: 1;
  padding-left: $navigation-width;
}

/* margin classes */
$directions: left right top bottom;
@each $direction in $directions {
  .block--margin-#{$direction}--none {
    margin-#{$direction}: 0;
  }
  .block--margin-#{$direction}--xxs {
    margin-#{$direction}: $padding-unit/4;
  }
  .block--margin-#{$direction}--xs {
    margin-#{$direction}: $padding-unit/2;
  }
  .block--margin-#{$direction}--small {
    margin-#{$direction}: $padding-unit;
  }
  .block--margin-#{$direction}--med {
    margin-#{$direction}: $padding-unit*2;
  }
}