.content {
  padding: $padding-unit;
}

.container--main {
  flex: 1;
  padding-left: $navigation-width;
}

.body--banner {
  padding-top: $banner-height;
}

.banner--stage-warning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-banner--stage-warning;
  height: $banner-height;
  line-height: $banner-height;
  font-size: $font-size-s;
  color: white;
  padding: 0 $padding-unit;
  background-color: $orange;
  text-align: center;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  a {
    color: white;
  }
}

/* margin classes */
$directions: left right top bottom;
@each $direction in $directions {
  .block--margin-#{$direction}--none {
    margin-#{$direction}: 0;
  }
  .block--margin-#{$direction}--xxs {
    margin-#{$direction}: $padding-unit/4;
  }
  .block--margin-#{$direction}--xs {
    margin-#{$direction}: $padding-unit/2;
  }
  .block--margin-#{$direction}--small {
    margin-#{$direction}: $padding-unit;
  }
  .block--margin-#{$direction}--med {
    margin-#{$direction}: $padding-unit*2;
  }
}

// extremely simple grid system with flexbox
// give a div a class .column--2 for 20% width (for example)
// no spacing between columns, you could do that with padding

.wrapper__column {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

@for $i from 1 through 10 {
  .column--#{$i} {
    box-sizing: border-box;
    width: #{$i}0%;
  }
}