
/******************************************************************************
 * Locator styles
 ******************************************************************************/


.locator-container {
    >div {
        display: flex;
    }
    .ReactTable {
        .rt-tr {
            cursor: pointer;
        }
    }
}

.type-filters-containers {
    font-size: 11px;
    margin-top: 20px;
    .locator-subtitle {
        font-weight: bold;
        color: $mid-gray;
    }
    ul {
        border-radius: 3px;
        overflow: hidden;
        li {
            list-style: none;
            cursor: pointer;
            box-sizing: border-box;
            display: block;
            padding: 10px 0px 10px 37px;
            position: relative;
            &.active {
                color: $blue;
            }
            &:before {
                content: '';
                border: 3px solid $gray;
                background: rgba($gray, 0.5);
                width: 12px;
                height: 12px;
                border-radius: 15px;
                display: inline-block;
                position: absolute;
                left: 10px;
                top: 8px;
            }
            &.official {
                &:before {
                    background-color: rgba($dark-green, 0.5);
                    border-color: $dark-green;
                }
            }
            &.not_official {
                &:before {
                    background-color: rgba($blue, 0.5);
                    border-color: $blue;
                }
            }
            &.from_campaign {
                &:before {
                    background-color: rgba($dark-blue, 0.5);
                    border-color: $dark-blue;
                }
            }
            &.satellite {
                &:before {
                    background-color: rgba($purple, 0.5);
                    border-color: $purple;
                }
            }

            &.not-assigned {
                &:before {
                    background-color: rgba($mid-mid-gray, 0.5);
                    border-color: $mid-mid-gray;
                }
            }
            &.notFull {
                &:before {
                    background-color: transparent;
                    border-color: red;
                }
            }
            &.full {
                &:before {
                    background-color: rgba(green, 0.5);
                    border-color: green;
                }
            }
            &.hover {
                &:before {
                    background-color: rgba($blue, 0.5);
                    border-color: $blue;
                }
            }
        }
    }
}

.locator-control-div {
    >div {
        table {
            border-radius: 3px;
            overflow: hidden;
            tbody {
                font-size: 12px;
                th {
                    max-width: 60px;
                }
                td {
                    text-align: center;
                }
            }
        }
    }
}

.locator-village-validation {
    font-size: 12px;
    text-align: right;
    display: block !important;
    margin-top: 8px;
    p {
        font-weight: bold;
        margin-bottom: 10px;
        span {
            font-weight: normal;
        }
    }
    >div {
        .button--save {
            margin-top: 15px;
        }
    }
    button {
        &.button--back {
            padding: 0.75em 1.5em;
            box-shadow: inset 0 -2px 0 0 rgba(black, 0.2);
            margin-bottom: 4px;
        }
    }
}

.locator-title, .sub-title {
    @include heading--medium;
    margin-bottom: 1em;
    font-weight: normal;
}

.locator-subtitle {
    padding: 0;
    display: block;
    margin-bottom: 6px;
    &.no-result {
        color: red;
        text-align: right;
    }
}

.locator-filter {
    font-weight: bold;
    color: $mid-gray;
    font-size: 12px;
    padding-bottom: 8px;
}

.locator-cases-left {
    margin-top: 10px;
}
.list-locator-filters {
    padding: $padding-unit 0 0 0;
    &>div {
        display: flex;
        .locator-filter{
            flex-basis: 33%;
            box-sizing: border-box;
            padding: 0 $padding-unit $padding-unit $padding-unit;
            >span {
                font-weight: bold;
                color: #868486;
                margin-bottom: 6px;
                font-size: 12px;
                display: block;
            }
        }
    }
}

.locator-case-container {
    width: calc(100% - 40px);
    display: inline-block;
}
.locator-container {
    .ReactTable {
        min-height: auto;
    }
}