.manual-duplicate {
    border-bottom: none;

    &.open {
        border-bottom: 1px solid $gray;

        .manual-duplicate_heading {
            &:after {
                transform: rotate(0deg);
            }
        }

        .manual-duplicate_expandable {
            max-height: 80vh;
        }
    }
}

.manual-duplicate__button {
    outline: none;
    box-shadow: none;
    cursor: pointer;

    &.disabled {
        color: rgba($dark-blue, 0.07);
        cursor: not-allowed;
    }
}

.manual-duplicate__icon {
    font-size: 17px;

    &.on {
        color: $green;
    }

    &.disabled {
        color: rgba($dark-blue, 0.08);
    }
}

.manual-duplicate_header {
    cursor: pointer;
    outline: none;
    box-shadow: none;

    &:hover {
        .manual-duplicate_heading {
            &:after {
                border-color: $dark-blue transparent transparent;
            }
        }
    }
}

.manual-duplicate_heading {
    &:after {
        border-color: #999 transparent transparent;
        border-style: solid;
        border-width: 5px 5px 2.5px;
        height: 0;
        width: 0;
        position: relative;
        margin-left: $padding-unit;
        content: "";
        transition: transform 0.1s linear;
        transform-origin: top;
        top: 8px;
        float: right;
        transform: rotate(-90deg);
    }
}

.manual-duplicate_container {
    display: flex;
}

.manual-duplicate_expandable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
}

.manual-duplicate_container--duplicates {
    flex-basis: 85%;
    display: flex;

    >div {
        width: calc(50% - #{$padding-unit / 2});
        margin-right: $padding-unit !important;
        position: relative;

        &.no-patient {
            background-color: $background-highlight-gray;
            justify-content: center;
            align-items: center;
            border: 1px solid $light-gray;
            display: flex;
            min-height: 410px;
        }
    }
}

.manual-duplicate_container--actions {
    flex-basis: 15%;
    display: flex;
    flex-direction: column-reverse;
}

.manual-duplicate_container--delete-button {
    position: absolute;
    right: $padding-unit / 2;
    top: 7px;
    z-index: 10;
    outline: none;
    box-shadow: none;
}

.manual-duplicate_container--delete-icon {
    margin-right: 0 !important;
}