/* COLOURS */
$buffer: $yellow;
$details: $blue;
$highlight: $purple;
$selected: $red;

$official: $green;
$other: $orange;
$unknown: $mid-gray;

/* map size */
$map-height: 720px;

.official  { color: $official }
.other     { color: $other; }
.unknown   { color: $unknown; }

@mixin underscore-label ($color: $gray) {
  /*border-bottom: solid 2px $color;*/
  background-color: $color;
  border-radius: 5px;
  font-size: $font-size-s;
  height: 24px;
  padding: $padding-unit/4;
  vertical-align: middle;
}

.underscore-official  { @include underscore-label($official); }
.underscore-other     { @include underscore-label($other); }
.underscore-unknown   { @include underscore-label($unknown); }
.underscore-buffer    { @include underscore-label($buffer); }

.leaflet-container {
  color: $text-color;
  font-family: $body-font-family;
  font-weight: normal;
}

.leaflet-container {
  cursor: default !important;
  margin: 0 auto;
}

.map__panel_left {
  display: inline-block;
  height: ($map-height + 60);
  width: 70%;
}

.map__panel_right {
  display: inline-block;
  height: ($map-height + 60);
  vertical-align: top;
  width: 30%;
  overflow: auto;
}

.map-container {
  background: $background-highlight-gray;
  height: $map-height;
  width: 100%;
}

.map-button {
  background-color: white;
  border-radius: 5px;
  border: 1px solid $gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  cursor: pointer !important;
  font-size: 16px;
  height: 26px;
  margin: 0;
  padding: 2px 0 0 10px;
  vertical-align: middle;
  width: 24px;
}

.legend {
  color: $text-color;
  font-family: $body-font-family;
  font-size: $font-size-xs;

  ul {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .scale {
    background: $background-highlight-gray;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: inline-block;
    float: right;
    height: 32px;
    margin: $padding-unit/4;
    padding: 6px 8px;
    width: 180px;

    li {
      display: inline-block;
      height: 16px;
      width: 16px;
    }
    .min {
      float: left;
    }
    .max {
      float: right;
    }
  }

  .points {
    display: inline-block;
    vertical-align: top;

    li {
      display: inline-block;
      margin: $padding-unit/4;
      white-space: nowrap;
    }
    i {
      margin-right: 3px;
      &.selected  { color: $selected; }
      &.highlight { color: $highlight; }
    }
  }
}

.details {
  background-color: lighten($details, 15%);
  padding: $padding-unit/4;

  span.close {
    cursor: pointer;
    color: white;
    float: right;
    height: 24px;
    width: 24px;
  }
  button {
    background-color: white;
    color: $details;
    &:hover { color: white; }
    margin-right: $padding-unit/4;
  }
}

.tooltip {
  color: white;
  margin: $padding-unit/4;

  div.property {
    padding: 6px;

    div.label {
      display: inline-block;
      width: 40%;
    }
    div.value {
      display: inline-block;
      width: 50%;
      font-weight: bold;
    }
  }
}

.data-selected {
  font-size: $font-size-s;

  .content {
    padding: $padding-unit/5;
    height: $map-height;
  }

  .title {
    text-transform: uppercase;
    font-size: $font-size-m;
    font-weight: bold;
  }

  .summary {
    font-size: $font-size-s;
    border-bottom: solid 1px $gray;
    padding: $padding-unit/4 0;
    line-height: 1.5;

    li {
      padding-left: $padding-unit/3;
      font-style: italic;
    }
    .text--warning {
      font-size: $font-size-xs;
    }
  }

  .list {
    padding: $padding-unit/3 0 0 0;
    h3 {
      padding: $padding-unit/4 0;
    }
    ul {
      clear: both;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: auto;
      max-height: ($map-height - 200);

      li {
        line-height: 1.3;
        white-space: nowrap;

        span.remove {
          @include text--error;
          cursor: pointer;
          margin-right: $padding-unit/4;
        }
        span.view {
          color: $details;
          cursor: pointer;
          margin-right: $padding-unit/4;
        }
      }
    }
  }

  .actions {
    padding: 0 $padding-unit/4;
    button {
      display: inline-block;
    }
    div {
      float: right;
      display: inline-block;
    }
  }
}


/* boundaries */

@mixin layer {
  fill-opacity: 0.5;
  stroke-dasharray: 3,3;
  stroke-opacity: 1;
  stroke-width: 1;

  &:hover {
    fill-opacity: 0.7;
    stroke-dasharray: 1,0;
    stroke-width: 2;
  }
}

path.map-layer {
  @include layer;

  &.transparent {
    fill: transparent;
    stroke: $mid-gray;
  }
  &.highlight {
    /* fill and stroke depend on the number of cases */
  }
  &.details {
    fill: $details;
    stroke: darken($details, 15%);
  }
}


/* markers */

@mixin marker($color: $gray) {
  fill-opacity: 0.8;
  fill: $color;
  stroke: darken($color, 10%);
  stroke-dasharray: 1,0;
  stroke-opacity: 0.8;
  stroke-width: 1;

  &:hover {
    fill-opacity: 1;
    fill: darken($color, 15%);
    stroke: $color;
    stroke-width: 2;
  }
}

path.map-marker {
  @include marker($gray);

  &.official {
    @include marker($official);
  }
  &.other {
    @include marker($other);
  }
  &.unknown {
    @include marker($unknown);
  }

  &.highlight {
    @include marker($highlight);
    stroke: pink;
  }
  &.selected {
    @include marker($selected);
  }
  &.details {
    @include marker($details);
  }
  &.buffer {
    @include marker($buffer);
    fill-opacity: 0.3;
    &:hover {
      fill-opacity: 0.5;
    }
  }
}
