/* colours */
$active: $blue;
$buffer: $yellow;
$highlight-buffer: $bright-blue;
$highlight: $bright-pink;
$selected: $bright-yellow;

/* village types */
$official: $green;
$notofficial: $light-gray;
$other: $mid-gray;
$unknown: $dark-gray;

/* map size */
$map-height: 720px;
$map-sidebar-width: 260px;

$types: (
  YES: $official,
  NO: $notofficial,
  OTHER: $other,
  NA: $unknown,
  highlight: $highlight
);

@each $type, $color in $types {
  .text--#{$type} {
    color: $color !important;
  }
  .background--#{$type} {
    background-color: $color !important;
  }
}


/******************************************************************************
 * map containers
 ******************************************************************************/

.map__panel {
  display: inline-block;
  height: $map-height;
  width: 100%;
  position: relative;

  &--fullscreen {
    background: $background-highlight-gray;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
  }

  &--left {
    display: inline-block;
    height: $map-height;
    width: calc(100% - #{$map-sidebar-width});
  }

  &--right {
    border-left: 1px solid $gray;
    box-shadow: -1px 0 1px 0 rgba(black, 0.08);
    display: inline-block;
    height: $map-height;
    overflow: hidden;
    vertical-align: top;
    width: $map-sidebar-width;
  }
}

[class*="map__header"] {
  display: flex;
  padding: 0 5px;
}
.map__header--legend {
  flex-basis: 30%;
}
.map__header--filters {
  flex-basis: 50%;
  position: relative;
  z-index: 1000;
}
.map__header--layers {
  flex-basis: 20%;
}

.map-container {
  background: $background-highlight-gray;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.leaflet-container {
  color: $text-color;
  cursor: default !important;
  font-family: $body-font-family;
  font-weight: normal;
  margin: 0 auto;
}

.map__text--select {
  display: block;
}

.map__filters {
  font-size: $font-size-xs;
  .map__filters--option {
    padding-bottom: 8px;
    span.map__text--select {
      font-weight: bold;
      color: $mid-gray;
      margin-bottom: 6px;
    }
  }
}

.interactive {
  cursor: pointer;
}


/******************************************************************************
 * map controls
 ******************************************************************************/

[class*="leaflet-control-zoom-"] {
  font-size: $font-size-s;
  font-weight: bold;
  height: 34px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  width: 34px;
}

.leaflet-control-zoom-box:after {
  color: $dark-gray;
  content: '\f096'; /* empty square icon */
  font-family: $icon-font;
  font-size: $font-size-standard;
}
.leaflet-control-zoom-box.active {
  color: $active;
  background: lighten($active, 35%);
}
.leaflet-control-zoom-box.active:after {
  color: $active;
}

.leaflet-control-zoom-fit:after {
  color: $dark-gray;
  content: '\f041'; /* map marker icon */
  font-family: $icon-font;
  font-size: $font-size-standard;
}

.map__control__button--printer {
  align-items: center;
  background: white;
  border-radius: 10px;
  border: 2px solid $blue;
  box-shadow: 0 0 3px 0 $dark-gray;
  box-sizing: border-box;
  display: flex;
  font-size: $font-size-xs;
  height: auto;
  margin-right: 10px;
  padding: 8px;
  text-align: left;
  width: auto;

  .map__icon--printer {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 64px;
    margin-right: 6px;

    &:after {
      margin-left: 6px;
      font-style: normal;
      font-size: 48px;
      line-height: 64px;
      font-family: $icon-font;
      color: $blue;
      content: '\f02f'; /* printer icon */
    }
  }
}

/*
 * BOXZOOM
 * https://github.com/gregallensworth/L.Control.BoxZoom
 */

.leaflet-container.leaflet-control-boxzoom-active {
  cursor: crosshair !important;

  path.leaflet-interactive {
    cursor: crosshair !important;
  }
}


/******************************************************************************
 * map options: legend / layers / overlays
 ******************************************************************************/

.map__option {
  color: $text-color;
  font-family: $body-font-family;
  font-size: $font-size-xs;
}

.map__option__header {
  font-weight: bold;
  color: $mid-gray;
}

.map__option__list {
  @include reset-list-style;
  clear: both;
}

.map__option__list__item {
  line-height: 12px;
  margin: $padding-unit/4;
  white-space: nowrap;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  &.active {
    color: $active;
  }
}

.map__option__action {
  margin-left: 6px;
  color: $mid-gray;
  cursor: pointer;
  &:hover {
    border-bottom: 1px dotted $mid-gray;
  }
}

[class^="map__option__icon"] {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 8px;
  background: white;
  border: 2px solid $light-gray;
}

.map__option__icon {
  &--YES {
    background: $official;
    border-color: darken($official, 15%);
  }
  &--NO {
    background: $notofficial;
    border-color: darken($notofficial, 15%);
  }
  &--OTHER {
    background: $other;
    border-color: darken($other, 15%);
  }
  &--NA {
    background: $unknown;
    border-color: darken($unknown, 15%);
  }
  &--highlight {
    background: $highlight;
    border: 4px solid darken($highlight, 15%);
    margin-left: 0px;
    margin-right: 6px;
  }
  &--selected {
    background: $selected;
    border: 4px solid darken($selected, 15%);
    margin-left: 0px;
    margin-right: 6px;
  }

  &.square {
    border-radius: 5px;
  }

  &.active {
    border-color: $active;
    background: lighten($active, 35%);
  }
}


/******************************************************************************
 * tooltips (warning, map: small and large)
 ******************************************************************************/

.tooltip--warning {
  .tooltip__warning {
    @include text--x-small;
    background-color: black;
    border-radius: 4px;
    color: white;
    line-height: 1.2em;
    margin-top: $padding-unit/2;
    padding: $padding-unit/3;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    span {
      border: none;
    }
  }
  span {
    border-bottom: 1px dotted $mid-gray;
  }

  &:hover .tooltip__warning {
    visibility: visible;
  }
}

.map__tooltip {
  min-width: 250px;
  div.property {
    padding: 0.4em 0;
    border-top: 1px solid $gray;

    div.label {
      display: inline-block;
      width: 40%;
      font-size: $font-size-xs;
    }
    div.value {
      display: inline-block;
      width: 60%;
      font-weight: bold;
      font-size: $font-size-s;
      text-align: right;
      line-height: 1.2;
    }
  }
  &--close {
    font-family: $body-font-family;
    font-size: $font-size-xs;
    margin-bottom: 14px;
    margin-left: 3px;
    text-transform: uppercase;
    cursor: pointer;
    color: $gray;
    text-align: right;

    &:hover {
      color: $red;
    }
  }
}

.map__control__tooltip:not(:empty) {
  background-color: rgba(white, 0.95);
  border-radius: 4px;
  border: 1px solid $gray;
  box-shadow: 0 0 10px rgba(black, 0.2);
  vertical-align: middle;
  padding: 0.5em 1em;
}


/******************************************************************************
 * map markers and boundaries
 ******************************************************************************/

@mixin layer($stroke-color: $mid-gray, $stroke-width: 3) {
  fill: transparent;
  fill-opacity: 0;
  stroke-dasharray: 1,0;
  stroke-opacity: 1;

  stroke: $stroke-color;
  stroke-width: $stroke-width;

  &:hover {
    stroke: darken($stroke-color, 10%);
    stroke-width: ($stroke-width+1);
  }
}

path.map-layer {
  &.province {
    @include layer(#935116, 4);
  }
  &.zone {
    @include layer(#CA6F1E, 2);
  }
  &.area {
    @include layer(#F0B27A, 1);
  }
}

@mixin marker($color: $gray,
              $fill-opacity: 0.85,
              $stroke-color: darken($color, 15%),
              $stroke-width: 2) {
  fill-opacity: $fill-opacity;
  fill: $color;
  stroke: $stroke-color;
  stroke-dasharray: 1,0;
  stroke-opacity: 0.8;
  stroke-width: $stroke-width;
  &:hover {
    fill-opacity: 1;
    fill: lighten($color, 10%);
    stroke: $stroke-color;
    stroke-width: $stroke-width;
  }
}

path.map-marker {
  @include marker($gray);

  &.YES {
    @include marker($official);
  }
  &.NO {
    @include marker($notofficial);
  }
  &.OTHER {
    @include marker($other);
  }
  &.NA {
    @include marker($unknown);
  }

  &.highlight {
    @include marker($highlight, $stroke-width: 5);
  }
  &.selected {
    @include marker($selected, $stroke-width: 5);
  }

  &.highlight-buffer {
    @include marker($highlight-buffer, $fill-opacity: 0.3, $stroke-width: 0);
    &:hover {
      fill-opacity: 0.3;
      fill: $highlight-buffer;
    }
  }
  &.buffer {
    @include marker($buffer, $fill-opacity: 0.3, $stroke-width: 1)
    &:hover {
      fill-opacity: 0.3;
      fill: $buffer;
    }
  }
  &.shadow {
    @include marker($highlight, $fill-opacity: 0.3, $stroke-width: 0);
    &:hover {
      fill-opacity: 0.3;
      fill: $highlight;
    }
  }
  &.chosen {
    @include marker($active, $fill-opacity: 0.7, $stroke-width: 0);
    &:hover {
      fill-opacity: 1;
      fill: $active;
    }
  }
}

.map__marker__label {
  font-size: $font-size-s;
  white-space: nowrap;
  color: $dark-gray;
  text-shadow: 0px 0px 2px white;
  font-variant: small-caps;
  font-weight: 800;

  &.other {
    font-size: $font-size-xs;
  }
}


/******************************************************************************
 * map selection list
 ******************************************************************************/

.map__selection {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.map__selection__top {
  padding: $padding-unit/4 $padding-unit/3;
}

.map__selection__middle {
  height: 100%;
  overflow: auto;
  padding: $padding-unit/4 $padding-unit/3;
}

.map__selection__bottom {
  border-top: 1px solid $gray;
  padding: $padding-unit/6;
  text-align: center;
}

.map__selection__title {
  @include heading--medium;
  margin-bottom: 1em;
}

.map__selection__summary--empty {
  @include text--small;
  font-weight: bold;
  margin: $padding-unit/2 0;
  padding: $padding-unit/2 0;
  text-align: center;
}

.map__selection__summary {
  padding: $padding-unit/3 0;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

.map__selection__summary__heading {
  @include heading--small;
  margin-bottom: $padding-unit/3;
}

.map__selection__summary__item {
  @include text--x-small;
  display: flex;
  justify-content: space-between;
  margin-bottom: $padding-unit/4;
  &:last-of-type {
    margin-bottom: 0;
  }
  .map__selection__summary__number {
    font-weight: bold;
  }
}

.map__selection__list__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: $padding-unit/4;
  h3 {
    font-size: $font-size-s;
  }
  .button--danger {
    background-color: $mid-gray;
    &:hover {
      background-color: $red;
    }
  }
}

ul.map__selection__list {
  @include reset-list-style;
}

li.map__selection__list__item {
  @include text--small;
  line-height: 1.3;
  white-space: nowrap;
  span.remove {
    @include text--error;
    cursor: pointer;
    margin-right: $padding-unit/4;
  }
  span.view {
    cursor: pointer;
    margin-right: $padding-unit/4;
  }
}

.button--export {
  padding: $padding-unit/4;
  width: ($map-sidebar-width - $padding-unit*2);
  font-size: $font-size-xs;
}

.button--print {
  margin-top: 4px;
  width: ($map-sidebar-width - 50);
  font-size: $font-size-xs;
}

.button--save {
  margin-bottom: 4px;
  width: ($map-sidebar-width - 50);
  font-size: $font-size-xs;
  &:disabled{
    background-color: #007fff !important;
    cursor: default;
    opacity: 0.6;
  }
}


/******************************************************************************
 * map selection controls
 ******************************************************************************/

.map__selection__control__container {
  width: 100%;
  font-size: $font-size-xs;

  .map__text--select {
    display: inline-block;
    vertical-align: middle;
  }

  /* active items have a highlighted border */
  div[class*="active"] {
    border-color: $buffer;
    color: $red;
    background-color: $background-highlight-gray;
    .map__icon--select {
      filter: initial;
    }
  }
}

.map__selection__actions {
  margin: 0.2em 0;
  overflow: hidden;

  input {
    display: inline-block;
    margin: .5em;
  }
  input.small {
    width: 32px;
    font-weight: bold;
    padding: 0.4em 0.25em;
  }
}

.map__control__button--highlight {
  @include button($mid-gray);
  color: white;
  font-size: $font-size-xs;
  padding: 6px;

  &:hover{
    background-color: $red;
    color: white;
  }
}

[class^="map__control__button--selection"] {
  font-size: $font-size-xs;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid $gray;
  box-shadow: 0 0 2px 0 #865A0B;
  border-radius: 5px;
  padding: 6px;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}

[class^="map__control__button--selection--deselect"] {
  .map__icon--select:before {
    position: absolute;
    display: block;
    content: '';
    width: 12px;
    height: 4px;
    border-radius: 2px;
    background: $highlight;
    z-index: 2;
    right: -4px;
    top: 30%;
  }
}

/* the select/deselect icon */
.map__icon--select {
  /* sizes */
  $icon-size: 28px;
  $icon-center-size: 8px;
  /* styles */
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: $icon-size;
  height: $icon-size;
  border-radius: 50%;
  background: rgba($buffer, 0.85);
  box-shadow: 0 0 4px 0 darken($selected, 15%);
  margin-right: 6px;
  filter: grayscale(100%);

  @include small-screen {
    display: none;
  }

  &:after {
    display: block;
    position: absolute;
    box-sizing: border-box;
    content: '';
    width: $icon-center-size;
    height: $icon-center-size;
    border-radius: 50%;
    left: calc(#{$icon-size}/2 - #{$icon-center-size}/2);
    top: calc(#{$icon-size}/2 - #{$icon-center-size}/2);
    z-index: 1;
    background: darken($buffer, 5%);
    border: 2px solid rgba($highlight, 0.85);
    box-shadow: 0 0 1px 1px rgba($highlight,0.45);
  }
}
