.ReactModal__Overlay {
    z-index: 1001;
    display: flex;
    align-items: start;
    justify-content: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.5) !important;
    >div {
        top: 20% !important;
    }
}

.ReactModal__Content {
    position: relative !important;
    max-height: 80%;
    min-width: 100px;
    min-height: 100px;
    max-width: 80%;
    overflow: visible !important;
    &.with-tabs {
        outline: none;
        box-shadow: none;
        border-radius: 4px;
        border-top-left-radius: 0;
        background-color: white;
        padding: $padding-unit;
    }
}

.button-close-modal {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    i {
        display: block;
        color: $blue;
        margin: 0;
        padding: 0;
        position: absolute;
        top: -7px;
        left: 0px;
        font-size: 40px;
        &:before {
            position: absolute;
            z-index: 10;
        }
        &:after {
            position: absolute;
            z-index: 0;
            background-color: white;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            display: block;
            top: 5px;
            left: 5px;
            content: '';
        }
    }
}

.delete-modal-buttons {
    text-align: center;
    margin-top: 10px;
    button {
        margin-right: 0px;
        margin-left: 5px;
        &:first-child {
            margin-right: 5px;
            margin-left: 0;
        }
    }
}

.edit-modal {
    width: 445px;
    &.large {
        width: 550px;
        >section>div {
            display: flex;
            margin-bottom: 10px;
            label {
                width: 180px;
                flex-basis: 180px;
            }
        }
        .Select {
            flex-basis: calc(100% - 211px);
            width: calc(100% - 211px);
            margin-right: 26px;
            float: none;
        }
    }
    .tabs-container {
        position: absolute;
        top: -54px;
        left: 0px;
    }
    .filter__container__select__label {
        background-color: transparent;
        border: none;
    }
    .button--save {
        margin-bottom: 0;
        width: auto;
        font-size: 1rem;
        margin-left: 10px;
        margin-top: 10px;
        display: inline-block;
    }
    >div,
    >section>div {
        label {
            width: 100px;
            height: 45px;
            box-sizing: border-box;
            padding-top: 5px;
            margin-right: 5px;
            text-align: right;
        }
        .Select {
            width: calc(100% - 105px);
            float: right;
            position: relative;
            top: 4px;
        }
        >section {
            outline: none !important;
            box-shadow: none;
            display: inline-block;
            text-align: center;
            width: calc(100% - 105px);
            input[type=radio] {
                margin-right: 5px;
                &+span {
                    margin-right: 15px;
                }
            }
        }
    }
}