.ReactModal__Overlay {
    position: fixed;
    inset: 0px;
    z-index: 1001;
    display: flex;
    align-items: start;
    justify-content: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.5) !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    >div {
        top: 15vh !important;
    }
    &.transparent-overlay {
        background: transparent !important;
    }
}

@media (max-height: 800px) {
    .ReactModal__Overlay {
        >div {
            top: 5vh !important;
        }
    }
}

.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Content {
    position: relative !important;
    max-height: 85%;
    min-width: 100px;
    min-height: 100px;
    max-width: 80%;
    overflow: visible !important;
    &.hidden-modal {
        opacity: 0 !important;
    }
    .widget__header {
        padding-top: 0;
        margin-left: -20px;
        width: calc(100% + 40px);
        margin-bottom: $padding-unit / 2;
    }
    &.with-tabs {
        outline: none;
        box-shadow: none;
        border-radius: 4px;
        border-top-left-radius: 0;
        background-color: white;
        padding: $padding-unit;
        top: 9% !important;
        max-height: 90%;
    }
    .half {
        border: 1px solid $gray;
        margin-bottom: $padding-unit / 2;
        border-radius: 5px;
        display: flex;
        width: 620px;
        >div {
            flex-basis: 50%;
            padding: $padding-unit / 2;
            &:first-child {
                border-right: 1px solid $gray;
            }
            button {
                width: 100%;
                margin-top: $padding-unit / 2;
            }
        }
    }
    .half-container,
    .third-container {
        display: flex;
        >div {
            box-sizing: border-box;
            padding-right: $padding-unit / 2;
            flex-basis: 50%;
            display: block !important;
            text-align: right;
            >div {
                clear: both;
                margin-bottom: 10px;
                &.flex-container {
                    label {
                        flex-basis: 34%;
                    }
                }
                label {
                    width: 25% !important;
                    &.select-label,
                    &.textarea-label {
                        top: -6px;
                        flex-basis: 35%;
                        position: relative;
                        padding-top: 0 !important;
                    }
                    &.filter__container__select__label {
                        padding-top: 3px;
                    }
                    &.select-label {
                        top: -11px;
                    }
                    &+div {
                        width: 64%;
                        font-size: 14px;
                        display: inline-block;
                        text-align: left;
                        top: 0px;
                    }
                }
                input {
                    width: 61%;
                    font-size: 12px;
                    display: inline-block;
                }
                .Select {
                    width: 64%;
                    font-size: 12px;
                    display: inline-block;
                }
                textarea {
                    width: 61%;
                    max-width: 61%;
                    font-size: 12px;
                    display: inline-block;
                }
                .check-box-container {
                    width: 61%;
                    max-width: 61%;
                    font-size: 12px;
                    display: inline-block;
                    input {
                        width: auto;
                    }
                    label {
                        width: 25px !important;
                    }
                }
                .array-field-container {
                    float: right;
                }
            }
        }
        .filter-item>div.Select {
            width: 65%;
            font-size: 12px;
        }
    }
    .half-container {
        >div {
            >div {
                label {
                    width: 30% !important;
                }
            }
        }
    }
    .third-container {
        >div {
            flex-basis: 40%;
        }
        &.small-filters {
            >div {
                flex-basis: 25%;
                text-align: left;
            }
            .catches-map-container,
            .traps-map-container {
                width: 100%;
                flex-basis: 90%;
                .map-container {
                    width: 100%;
                }
            }
        }
        .map-container {
            width: 560px;
        }
    }
}

.button-close-modal {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    i {
        display: block;
        color: $blue;
        margin: 0;
        padding: 0;
        position: absolute;
        top: -7px;
        left: 0px;
        font-size: 40px;
        &:before {
            position: absolute;
            z-index: 10;
        }
        &:after {
            position: absolute;
            z-index: 0;
            background-color: white;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            display: block;
            top: 5px;
            left: 5px;
            content: '';
        }
    }
}

.delete-modal-buttons {
    text-align: center;
    margin-top: 10px;
    button {
        margin-right: 0px;
        margin-left: 5px;
        &:first-child {
            margin-right: 5px;
            margin-left: 0;
        }
    }
}

.edit-modal {
    width: 445px;
    .rt-table {
        max-height: 400px;
    }
    .rt-tbody {
        overflow: auto !important;
    }
    .toggle-display-password {
        border-radius: 5px;
        outline: none;
        box-shadow: none;
        height: 20px;
        position: absolute;
        right: 10px;
        top: 9px;
    }
    .subtitle {
        margin-bottom: $padding-unit / 2;
    }
    input[type="checkbox"] {
        margin: 5px 0;
        width: 100%;
    }
    &.user-modale {
        input[type="checkbox"] {
            position: relative;
            top: 10px;
            width: auto;
        }
        .Select {
            max-width: 337px;
        }
    }
    &.large {
        width: 550px;
        input[type=text],
        input[type=password] {
            height: 20px;
        }
        label {
            &.checkbox-label {
                display: inline-block;
                height: auto;
                width: auto;
                margin: 8px $padding-unit/2 0 5px;
            }
        }
        >section>div,
        >section>section>div {
            display: flex;
            margin-bottom: 10px;
            label {
                width: 190px;
                flex-basis: 205px;
                height: 40px;
            }
            .read-only {
                display: flex;
                align-items: center;
            }
        }
        .Select {
            flex-basis: 100%;
            width: 100%;
            margin-right: 0px;
            float: none;
            text-align: left;
            margin-bottom: 7px;
        }
        .check-box-container {
            flex-basis: calc(100% - 211px);
            width: calc(100% - 211px);
            margin-right: 0px;
            float: none;
            text-align: center;
        }
        &.extra {
            width: 900px;
            max-width: 100%;
        }
        &.extra-extra {
            width: 85vw;
            max-width: 100%;
        }
    }
    .filters-container {
        margin-top: -12px;
        >section {
            width: 100%;
        }
    }
    .filter-item {
        text-align: right;
        padding-bottom: 12px;
        >div {
            display: inline-block;
            &.Select {
                position: relative;
                top: 14px;
                width: 330px;
                text-align: left;
                margin-left: $padding-unit / 2;
                font-size: 16px;
                font-weight: normal;
            }
            &.filter-item-subtitle {
                font-size: 14px;
                font-weight: normal;
                &:after {
                    content: ':';
                    display: inline-block;
                }
            }
        }
    }
    .tabs-container {
        position: absolute;
        top: -36px;
        left: 0px;
        li {
            padding: 8px 32px;
            border: none;
            &.selected {
                padding: 10px 34px;
                &:after {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
    .tabs-relative {
        .tabs-container {
            position: relative;
            top: auto;
            left: auto;
            li {
                border: 1px solid $gray;
            }
        }
        + div {
            border-top-left-radius: 0 ! important;
            position: relative;
            top: -1px;
        }
    }
    .filter__container__select__label {
        background-color: transparent;
        border: none;
    }
    .button--save {
        margin-bottom: 0;
        width: auto;
        font-size: 1rem;
        margin-left: 10px;
        margin-top: 10px;
        display: inline-block;
    }
    >div,
    >section>div {
        label {
            width: 100px;
            height: 45px;
            box-sizing: border-box;
            padding-top: 5px;
            margin-right: 5px;
            text-align: right;
        }
        .Select {
            width: calc(100% - 105px);
            float: right;
            position: relative;
            top: 4px;
            min-height: 34px;
        }
        >section {
            outline: none !important;
            box-shadow: none;
            display: inline-block;
            text-align: center;
            width: calc(100% - 105px);
            input[type=radio] {
                margin-right: 5px;
                &+span {
                    margin-right: 15px;
                }
            }
        }
    }
}

.ReactModal__Overlay {
    >div.img-modal {
        top: auto !important;
    }
}