/***
  (→_→)  first, define some styles used throughout nav  (←_←)
***/
@mixin nav-link-styles {
  display: block;
  padding: 1rem;
  border-left: 5px solid $dark-blue;
  font-weight: bold;
  font-size: $font-size-standard;
  line-height: 1.5;
  text-decoration: none;
  color: $mid-gray;
  transition: all 0.2s linear;
}

@mixin active-nav-link-styles {
  background-color: darken($dark-blue, 8%);
  border-left-color: $blue;
  color: white;
}

$nav-border-style: 1px solid rgba(white, 0.15);

/***
  (→_→)  now let's use those styles  (←_←)
***/
.navigation__container {
  position: fixed;
  flex-wrap: no-wrap;
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
}

.navigation__content {
  display: flex;
  flex-direction: column;
  width: $navigation-width;
  min-height: 100vh;
  background: $dark-blue;
  -webkit-font-smoothing: antialiased;
}

.brand__heading {
  position: relative;
  display: block;
  padding: 1.275rem 1rem;
  margin: 0;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navigation__menu {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

[class^='navigation__menu__item'] a {
  @include nav-link-styles;
  border-bottom: $nav-border-style;
}

[class^='navigation__menu__item']:first-of-type a {
  border-top: $nav-border-style;
}

[class^='navigation__menu__item'] a:hover,
.navigation__menu__item--active a {
  @include active-nav-link-styles;
}

[class^='navigation__menu__item'] a:hover {
  border-left-color: darken($blue, 10%);
}

.navigation__footer {
  background-color: darken($dark-blue, 8%);
  padding: 1rem;
  padding-left: calc(1rem + 5px);
  border-top: $nav-border-style;
  margin-top: -1px;
}

.navigation__logout-link {
  @include nav-link-styles;
  padding: 0;
  margin-bottom: 1rem;
  border-left: none;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  font-size: $font-size-s;
  &:hover {
    color: $blue;
  }
}

@mixin footer-label-styles {
  display: block;
  color: $mid-gray;
  font-size: $font-size-s;
  font-weight: bold;
}

.label--user {
  @include footer-label-styles;
}

.label--version {
  @include footer-label-styles;
}