.permission-tabs {
    height: auto;
    .Select {
        height: 34px;
        margin-right: 0 ! important;
        flex-basis: 100% ! important;
    }
}

.permission-container {
    height: 55vh;
    margin-bottom: $padding-unit / 2;
    border: 1px solid $gray;
    border-radius: 5px;
    overflow: auto;
}

.permission-item {
    display: flex;
    width: 100%;
    padding: 8px 0;
    align-items: center;
    margin-bottom: 0 !important;
    justify-content: center;
    border-bottom: 1px solid $mid-gray;
    &:last-child {
        border-bottom: none;
    }
}

.permission-label {
    display: flex;
    align-items: center;
    padding-left: $padding-unit / 2;
    flex-basis: 80%;
}

.permission-button {
    flex-basis: 20%;
    padding-right: $padding-unit / 2;
    text-align: right;
}

.permission-select-user-type {
    justify-content: flex-end;
    margin-bottom: $padding-unit / 8 !important;
}

.permission-select-user-type__input {
    margin-top: 3px;
    width: 100%;
}

.permission-select-user-type__error {
    display: block;
    width: 100%;
    padding-top: $padding-unit / 8;
    padding-bottom: $padding-unit / 8;
    font-size: 12px;
}

.permission-add-user-type {
    justify-content: flex-end;
    margin-bottom: $padding-unit / 2 !important;
    button {
        margin-top: 0 !important;
    }
}

.permission-user-type-value__container {
    display: flex;
    align-items: center;
}

.permission-delete-user-type__button {
    margin-left: auto;
    i {
        margin-right: 0 !important;
    }
}

.Select-value-label {
    .permission-delete-user-type__button {
        display: none;
    }
}
