.search-container {
    font-size: 12px;
    margin-bottom: 15px;
}
.limit-container {
    text-align: right;
    margin-top: 10px;
    padding-top: 10px;
    input[type="number"] {
        background-color: transparent;
        box-shadow: none;
        text-align: center;
        float: right;
        margin-right: 0px;
        position: relative;
        top: -8px;
    }
    &:after{
        clear:both;
        display: block;
        content: "";
    }
}
.search-field {
    position: relative;
    input[type="text"] {
        background-color: transparent;
        box-shadow: none;
        width: 100%;
        padding-right: 30px;
        box-sizing: border-box;
        &::placeholder {
            font-size: 12px;
            line-height: 15px;
            position: relative;
            top: -2px;
            padding-right: 35px;
            box-sizing: border-box;
        }
    }
    i {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 11px;
        height: 100%;
        box-sizing: border-box;
        width: 30px;
        text-align: center;
        cursor: pointer;
        &:hover {
            font-size: 14px;
        }
    }
    .Select-clear {
        position: absolute;
        right: 29px;
        top: 8px;
        cursor: pointer;
        &:hover{
            color: red;
        }
    }
}

.search-results {
    text-align: right;
    position: relative;
    .count {
        display: block;
        margin-top: 10px;
    }
    >section>div {
        margin-top: 10px;
        max-height: 360px;
        overflow-y: auto;
        overflow-x: hidden;
        table {
            min-height: 30px;
            background-color: transparent;
            border: none;
            text-align: left;
            width: 100%;
            thead {
                background-color: $light-gray !important;
                cursor: default;
                height: 40px;
            }
            tbody {
                tr {
                    background-color: transparent;
                    position: relative;
                    outline: none !important;
                    box-shadow: none !important;
                    height: 40px;
                    padding: 14px;
                    box-sizing: border-box;
                    cursor: pointer;
                    &:hover {
                        background-color: $background-highlight-gray;
                    }
                    >td {
                        font-size: 10px;
                        padding: 0 5px;
                        background-color: transparent;
                        &.name {
                            flex: 2;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.search-empty {
    color: red;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}