.trypelim {
    .success-container {
        color: $green;
        background-color: rgba($green, .2);
        border: 1px solid $green;
        border-radius: 5px;
        padding: $padding-unit / 4 $padding-unit / 2 $padding-unit / 2 $padding-unit / 2;
        margin-bottom: $padding-unit / 2;

        svg {
            position: relative;
            top: 5px;
            margin-right: 5px;
        }
    }
}