table {
    width: 100%;
    margin: 0;
    .custom-head {
        th {
            position: relative;
            &:after {
                height: 1px;
                left: 0;
                bottom: -1px;
                width: 100%;
                content: '';
                background-color: $mid-mid-gray;
                position: absolute;
                z-index: 10;
            }
        }
        button {
            position: absolute;
            right: 6px;
            top: 6px;
        }
    }
    &.no-style {
        border: none;
        background-color: transparent;
        >tbody,
        >tbody>tr,
        >tbody>tr>td {
            border: none !important;
            background-color: transparent;
            padding: 0;
            margin: 0;
        }
    }
    &.error-table {
        border: 1px solid red !important;
        border-collapse: separate;
        position: relative;
        top: -1px;
        margin-bottom: -1px;
    }
}

@mixin table-cell-styles {
    text-overflow: ellipsis;
    padding: 10px 12px;
    border-right: 1px solid $light-gray;
    text-align: left;
    vertical-align: middle;
    line-height: 1em;
    &:first-child {
        border-left: 1px solid $light-gray;
    }
}

th {
    @include table-cell-styles;
    border: 1px solid $mid-mid-gray;
    &:first-child {
        border: 1px solid $mid-mid-gray;
    }
    background: $light-gray;
    &.main {
        border-bottom: 1px solid $light-gray;
    }
}

td {
    @include table-cell-styles;
    overflow: hidden;
    border-bottom: 1px solid $light-gray;
    background: $background-highlight-gray;
    position: relative;
    word-break: break-all;
    img {
        width: 100%;
    }
    .video-js {
        width: 100%;
        height: auto;
        video {
            position: relative !important;
        }
    }
    ul {
        padding-left: $padding-unit / 2;
    }
}

td.error,
span.error {
    background: $red !important;
    color: white !important;
    padding: 10px;
}

td.error-text {
    background: $background-highlight-gray;
    color: red;
}

span.error-text {
    background: transparent;
    color: red;
}

td.warning,
span.warning {
    background: $orange;
    color: white;
}

td.warning-light,
    {
    background: $yellow;
}

td.ok,
span.ok {
    background: $green;
    color: white;
}

tr:first-child td {
    border-top: 1px solid $light-gray;
}

.row--right {
    width: 200px;
}

@mixin list-like-table-cell-styles {
    text-overflow: ellipsis;
    padding: 10px 0;
    text-align: left;
    vertical-align: center;
    line-height: 1rem;
    background: transparent;
    border-right: none;
    font-size: $font-size-s;
    &:first-child {
        border-left: none;
    }
}

.table--minimised {
    th {
        @include list-like-table-cell-styles;
        color: $mid-gray;
    }
    td {
        @include list-like-table-cell-styles;
    }
}

.list__table {
    th:not(:first-child),
    td:not(:first-child) {
        padding-left: $padding-unit * 0.5;
    }
}

.list__table--details {
    tr:last-child td {
        border-bottom: 0;
    }
    td:not(:first-child) {
        border-left: 1px solid $light-gray;
    }
    td:last-child {
        background-color: #efefef;
    }
    tr:last-child td:last-child {
        border-left: 0;
    }
    form {
        display: inline-block;
    }
}

.ReactTable {
    &.no-select.-highlight .rt-tbody .rt-tr:not(.-padRow) {
        cursor: default;
        &.-even {
            background-color: white !important;
        }
        &.-odd {
            background: rgba(0, 0, 0, 0.03) !important;
        }
    }
    .rt-td {
        position: relative;
        ;
    }
    .template {
        &:before {
            background-color: $light-gray;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            content: '';
            display: block;
        }
        span {
            z-index: 10;
            position: relative;
        }
    }
}

.duplicate-table {
    >tbody {
        >tr {
            >td {
                vertical-align: top;
                width: 50%;
                padding-bottom: $padding-unit / 4 !important;
                padding-left: $padding-unit / 4 !important;
                padding-right: 0;
                &:first-child {
                    padding-left: 0 !important;
                    padding-right: $padding-unit / 4 !important;
                }
            }
            &:last-child {
                >td {
                    padding-bottom: 0 !important;
                }
            }
        }
    }
    >thead {
        .empty {
            border: none;
            background-color: transparent;
        }
        >tr {
            >td {
                border: none;
                background-color: transparent;
                padding: 0;
                h2 {
                    box-sizing: border-box;
                    padding: 15px 12px;
                    width: calc(100% - #{$padding-unit / 4});
                    margin-left: $padding-unit / 4 !important;
                    border: 1px solid $light-gray;
                    background-color: $background-highlight-gray;
                }
                &:first-child {
                    h2 {
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }
    $highlighted-tests-border-color: $light-gray;
    @mixin highlighted-tests {
        position: relative;
        padding: 8px ! important;
        left: $padding-unit / 4;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            background: lighten($blue, 44%);
            border: 1px solid $highlighted-tests-border-color;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: calc(100% - 1px);
            width: calc(100% - #{$padding-unit / 4});
        }
        h2 {
            position: relative;
            margin: 0 !important;
        }
        >div,
        >table {
            position: relative;
            width: calc(100% - #{$padding-unit / 4}) !important;
        }
        &:first-child {
            &:before {
                width: calc(100% - #{$padding-unit / 4});
            }
            left: 0;
        }
    }
    &.tests {
        margin-bottom: $padding-unit/2 !important;
        >thead {
            >tr {
                >td,
                >th {
                    @include highlighted-tests;
                    &:before {
                        border-bottom: none;
                    }
                }
            }
        }
        >tbody {
            >tr {
                >td {
                    @include highlighted-tests;
                    &:before {
                        border-bottom: 1px solid lighten($blue, 44%);
                        border-top: none;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                    }
                    &.empty {
                        &:before {
                            display: none;
                        }
                    }
                }
                &:last-child {
                    >td {
                        &:before {
                            border-bottom: 1px solid $highlighted-tests-border-color;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}

.duplicate-page section:last-child {
    .tests {
        margin-bottom: 0 !important;
    }
}

.collapsable {
    overflow: hidden !important;
    max-height: 37px !important;
    overflow: hidden !important;
    -webkit-transition: max-height 0.3s ease-in;
    -moz-transition: max-height 0.3s ease-in;
    -o-transition: max-height 0.3s ease-in;
    transition: max-height 0.3s ease-in;
    thead {
        cursor: pointer;
    }
    &.open {
        max-height: 500px !important;
    }
    .chevron {
        float: right;
    }
}

tr.center {
    td, th {
        text-align: center;
    }
}
