.custom-popup-container {
    font-size: 12px;

    .separator {
        width: calc(100% + 16px);
        background-color: $light-gray;
        height: 1px;
        display: block;
        margin: 5px -8px;
    }

    h6 {
        button {
            float: right;
        }
    }

    >div {
        font-weight: bold;

        >span {
            font-weight: normal;
        }
    }

    table {
        margin-top: 10px;
        table-layout: fixed;
        width: 300px;

        tr {
            td {
                &:first-child {
                    width: 100px;
                }

                white-space: nowrap;
            }
        }
    }
}

.edit-modal {
    table {
        tr {
            td {
                overflow: visible;
                padding: 3px 4px;
            }
        }
    }
}

.vectors-container {
    .leaflet-popup-content-wrapper {
        padding-top: 15px;
    }

    .map__filters {
        width: 50%;
    }
}

.ReactModal__Content {
    .edit-modal {
        .custom-radio-component {
            margin-left: 8px;
            input {
                top: 0;
                height: 100%;
                display: inline-block;
                width: 20px;
            }

            label {
                width: 100% !important;
                text-align: left;
            }

            i {
                width: 20px !important;
                height: 20px !important;
                top: 19px;
                &:before {
                    display: none;
                }

                &:after {
                    position: relative;
                    top: 3px;
                    left: 1px;
                    margin: 0;
                    padding: 0;
                    width: auto;
                    height: auto;
                    text-align: center;
                    display: block;
                }
            }

            &.checked {
                i {
                    top: 19px;
                    left: -3px;
                }
            }
        }
    }
}