.widget__container {
  padding: 0;
  margin-bottom: $padding-unit;
  background: white;
  border: 1px solid $gray;
  border-radius: 4px;
  overflow: initial;
}

.widget__header {
  display: flex;
  align-items: space-between;
  border-bottom: 1px solid $gray;
  padding: 1.5rem 1.8rem;
}

.widget__heading {
  font-size: $font-size-m;
}

.widget__toggle-view {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 1.9rem;
  margin: 3px 0.5rem;
  border: 1px solid lighten($gray,5%);
  border-radius: 4px;
  box-shadow: 0 0 1px 3px rgba(black, 0.1);
  text-align: center;
  color: $dark-gray;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 0 1px 3px rgba(0,162,211, 0.4);
  }
}

.widget__content {
  padding: $padding-unit;
}

.widget__content--flush {
  padding: $padding-unit 0;
}