.workzones-list {
    list-style-type: none;
    overflow: visible !important;
    padding: 40px;
    padding: 40px 40px 50px 40px;
    margin: -30px -40px -25px -40px;
}

.workzones-item {
    position: relative;
    overflow: visible !important;
    padding-left: 0 !important;
    border-top: 1px solid $gray;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    &:before {
        display: none !important;
    }
    &.selected,
    &:hover {
        background-color: $background-gray;
    }
    &.none {
        cursor: default;
        background-color: transparent !important;
    }
    >section {
        display: flex;
        width: 100%;
        align-items: center;
        >span {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-right: 10px;
            cursor: pointer;
            margin-left: 10px;
            position: relative;
            top: 0px;
            outline: none !important;
            box-shadow: none !important;
        }
    }
    div {
        &.button {
            position: absolute;
            top: 0;
            right: 0;
            height: 46px;
            width: calc(100% - 45px);
            outline: none !important;
            box-shadow: none !important;
            opacity: 0;
        }
        &.infos {
            display: inline-block;
            height: auto;
            width: calc(100% - 45px);
            padding-top: 0px;
            font-weight: bold;
            outline: none !important;
            box-shadow: none !important;
            padding-right: 50px;
            line-height: 14px;
            span {
                font-weight: normal;
            }
            &.alert {
                color: red;
            }
            i {
                position: absolute;
                right: 20px;
                top: 18px;
            }
        }
    }
    &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    &:last-child {
        border-bottom: 1px solid $gray;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .expand-collapse {
        height: 0px;
        overflow: hidden;
        >div {
            padding: 10px 0 0 0;
        }
        .locator-filter {
            padding: 0;
            border-top: 1px solid $gray;
            .locator-subtitle {
                padding: $padding-unit / 2;
                margin: 0;
                outline: none;
                cursor: pointer;
                box-shadow: none;
                i {
                    float: right;
                    margin-right: 5px;
                }
                &+div {
                    height: 0;
                    overflow: hidden;
                    &.open {
                        padding: 0 $padding-unit / 2 $padding-unit / 2 $padding-unit / 2;
                        height: auto;
                        overflow: visible;
                    }
                }
            }
        }
    }
    &.selected {
        padding-bottom: 0;
        .expand-collapse {
            height: auto;
            overflow: visible;
        }
    }
}

.as-select {
    padding: 32px 0 10px 20px;
    min-height: 76px;
}

.macro-map {
    border-left: 1px solid $gray;
}

.macro-map .leaflet-pane>svg path {
    stroke-width: 2px !important;
    stroke-opacity: 0.5;
    &.selected-area {
        stroke: red !important;
    }
    &.zone {
        @include layer(black, 2);
        fill-opacity: 0;
        stroke-width: 1px !important;
        pointer-events: none;
    }
}