{% extends "admin/change_form.html" %}

{% block object-tools-items %}
    {{ block.super }}

    {% if not original.tenant_user %}
        <li>
            <a href="{% url 'admin:edit-multi-account' user_id=original.pk %}" class="button">
                {% if original.tenant_users.exists %}
                    Edit multi-account settings
                {% else %}
                    Convert to multi-account
                {% endif %}
            </a>
        </li>
    {% endif %}
{% endblock %}
