{% load i18n %}
<html>
<body>
<form method="post">
    {% csrf_token %}
<div class="teamsdevices__event__field__title">{% trans 'Change Status' %}</div>
    {{ form.status }}
        <button name="event_type" value="0">{% trans 'Submit' %}</button>
    <div class="teamsdevices__event__field__title">{% trans 'Register Action' %}</div>
    {{ form.action }}
    <button name="event_type" value="1">{% trans 'Submit' %}</button>
    <div class="teamsdevices__event__field__title">{% trans 'Add a comment' %}</div>
    {{ form.comment }}
    <button name="event_type" value="2">{% trans 'Submit' %}</button>
</form>
</body>
</html>
