{% extends "base.html" %}
{% load i18n %}

{% block body %}
  <div class="navigation__container">
    <div class="brand">
      <a class="brand__heading" href={% url "index" %}>Sense HAT Dashboard</a>
    </div>

    <!-- Menu toggle -->
    <a href=".navigation" id="menuLink" class="menu-link">
      <!-- Hamburger icon -->
      <span></span>
    </a>
    {% with request.resolver_match.url_name as url_name %}
    <ul class="navigation__menu">
      {% if perms.participants.import %}
        <li class="navigation__menu__item{% if url_name == 'upload' %}--active{% endif %}">
          <a class="" href={% url "import_export:upload" %}>{% trans "Upload" %}</a>
        </li>
      {% endif %}
      {% if perms.participants.export %}
        <li class="navigation__menu__item{% if url_name == 'download' %}--active{% endif %}">
          <a {% if request.path == "import_export:download" %} class="active"{% endif %} href={% url "import_export:download" %}>{% trans "Download" %}</a>
        </li>
      {% endif %}
      {% if user.is_superuser %}
        <li class="navigation__menu__item{% if url_name == 'index' %}--active{% endif %}">
          <a class="" href={% url "maintenance:index" %}>{% trans "Maintenance" %}</a>
        </li>
      {% endif %}

    </ul>
    {% endwith %}

    <div class="navigation__footer">
      <span class="label--user">Logged in as '{{ user }}'</span>
      <a href={% url 'logout' %} class="navigation__logout-link">
        {% trans "Log out" %}
      </a>
      <span class="label--version">Rev: {{version_commit}}</span>
    </div>
  </div>

  <div class="container--main">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <header class="header">
      {% block header %}
        <h1 class="header__title">Sense HAT</h1>
      {% endblock %}
    </header>

    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
