{% load render_bundle from webpack_loader %}
{% load i18n %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>Sense HAT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    {% if DEV_SERVER %}
      <!-- this is for CSS Hot reloading in DEV -->
      {% render_bundle 'common' %}
      {% render_bundle 'styles' %}
    {% else %}
      {% render_bundle 'styles' 'css' %}
    {% endif %}

    {% block head %}
    {% endblock %}

    {% if user.is_authenticated %}
    <meta data-qa="logged-in-marker" name="logged-in" content="{{ user.get_username }}">
    {% endif %}
  </head>
  <body{% if environment == "staging" %} class="body--banner"{% endif %}>
    {% if environment == "staging" %}
      <div class="banner--stage-warning">
        <span>
        {% blocktrans %}
        This is the staging site, which is for testing purposes only. Data may be periodically deleted.
        Access main site at: <a href="https://sense-hat.eocng.org">sense-hat.eocng.org</a>
        {% endblocktrans %}
        </span>
      </div>
    {% endif %}

    {% block body %}
    {% endblock %}
  </body>
</html>
