{% load render_bundle from webpack_loader %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>Sense HAT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    {% if DEV_SERVER %}
      <!-- this is for CSS Hot reloading in DEV -->
      {% render_bundle 'common' %}
      {% render_bundle 'styles' %}
    {% else %}
      {% render_bundle 'styles' 'css' %}
    {% endif %}

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="layout">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
