{% load render_bundle from webpack_loader %}
{% load i18n %}
{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>{% trans 'Trypelim Dashboard' %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% block extrajs %}

    {% endblock %}
    {% if DEV_SERVER %}
      <!-- this is for CSS Hot reloading in DEV -->
      {% render_bundle 'common' %}
      {% render_bundle 'styles' %}
    {% else %}
        <!-- we're in the non dev-server part -->
      {% render_bundle 'styles' 'css' %}
    {% endif %}

    {# very simple print stylesheet #}
    <link rel="stylesheet" href="{% static 'print.css' %}" type="text/css" media="print" />

    {# favicon #}
    <link rel="icon" href="{% static 'images/favicon.png' %}" />

    {% block head %}
    {% endblock %}

    {% if user.is_authenticated %}
    <meta data-qa="logged-in-marker" name="logged-in" content="{{ user.get_username }}">
    {% else %}
      <meta property="og:title" content="{% trans 'Welcome to the SENSE HAT Dashboard' %}"/>
      <meta property="og:description" content="{% trans 'The Trypelim project aims at digitalization of the sleeping sickness elimination program.' %}"/>
      <meta property="og:type" content="website"/>
      <meta property="og:image" content="{% static 'images/pnltha-logo.png' %}"/>
      <meta property="og:url" content="https://www.trypelim.org" />
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  </head>
  <body class="menu-close">
      <div id="banner--warning" onclick="document.getElementById('banner--warning').classList.toggle('closed');Cookies.set('banner-closed', 'true');">
        <span>
        <i class="fa fa-warning"></i>
        {% blocktrans %}
        Les données ne sont pas encore définitives et sujettes à modification
        {% endblocktrans %}
        <i class="fa fa-times"></i>
        </span>
      </div>
      <script>
        if (Cookies.get('banner-closed') === 'true') {
          document.getElementById('banner--warning').classList.toggle('no-animation');
          document.getElementById('banner--warning').classList.toggle('closed');
        }
      </script>
    {% if environment == 'staging' %}
      <div class="banner--stage-warning">
        <span>
        {% blocktrans %}
        This is the staging site, which is for testing purposes only. Data may be periodically deleted.
        Access main site at: <a href="https://sense-hat.eocng.org">sense-hat.eocng.org</a>
        {% endblocktrans %}
        </span>
      </div>
    {% endif %}

    {% block body %}
    {% endblock %}
  </body>
</html>
