{% extends 'iaso/base.html' %}
{% load i18n %}

{% block body %}
  <div class="login__container">
    <div class="login__content">
      <header class="login__header">
        <h1 class="login__heading">{% trans 'Tableau de Bord Iaso' %}</h1>
        <p>{% trans 'Connectez vous pour continuer' %}</p>
      </header>
      <form method="post" data-qa="login-form" action="{% url 'login' %}" class="login__form">
        {% if next %}
          {% if user.is_authenticated %}
            <p class="login__text--warning">
            {% blocktrans %}
            Your account doesn't have access to this page. To proceed,
            please login with an account that has access.
            {% endblocktrans %}
            </p>
          {% else %}
            <p class="login__text--warning">
              {% trans 'Please login to see this page.' %}
            </p>
          {% endif %}
        {% endif %}
        {% if form.errors %}
          <p class="login__text--error">
            {% blocktrans %}
            Your username and password didn't match. Please try again.
            {% endblocktrans %}
          </p>
        {% endif %}
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="button">{% trans 'Login' %}</button>
      </form>
      <button id="display-password" onClick="togglePassword()">
          <i class="fa fa-eye" id="eye-icon" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <script>
      function togglePassword() {
          const passwordField = $('#id_password');
          if (passwordField.attr('type') === 'password') {
              passwordField.attr('type', 'text');
              $('#eye-icon').attr('class', 'fa fa-eye-slash');
          } else {
              passwordField.attr('type', 'password');
              $('#eye-icon').attr('class', 'fa fa-eye');
          }
      }
  </script>
{% endblock %}
