{% extends "base.html" %}
{% load i18n %}

{% block body %}
  <div class="login__container">
    <div class="login__content">
      <header class="login__header">
        <h1 class="login__heading">{% trans "Sense HAT Dashboard" %}</h1>
        <p>{% trans "Please log in to continue" %}
      </header>
      {% if environment == "staging" %}
        <div class="banner--stage-warning--login-page">
          <p>
          {% trans "This is the staging site, only for testing purposes. Please note that data uploaded to this site may be incomplete or cleared from time to time." %}
          </p>
          <br />
          <p>
          {% trans "Please use the main site for non-testing usage:" %}
          <br />
          <a href="https://sense-hat.eocng.org">sense-hat.eocng.org</a>
        </div>
      {% endif %}
      <form method="post" data-qa="login-form" action="{% url 'login' %}" class="login__form">
        {% if next %}
          {% if user.is_authenticated %}
            <p class="login__text--warning">
            {% blocktrans %}
            Your account doesn't have access to this page. To proceed,
            please login with an account that has access.
            {% endblocktrans %}
            </p>
          {% else %}
            <p class="login__text--warning">
              {% trans "Please login to see this page." %}
            </p>
          {% endif %}
        {% endif %}
        {% if form.errors %}
          <p class="login__text--error">
            {% trans "Your username and password didn't match. Please try again." %}
          </p>
        {% endif %}
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button">{% trans "Login" %}</button>
      </form>
    </div>
  </div>
{% endblock %}
