.auth__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
}

.auth__header {
  text-align: center;
  margin-bottom: $padding-unit/1.5;
}

.auth__heading {
  font-size: $font-size-xl;
  margin-bottom: $padding-unit/4;

  img {
    height: 60px;
  }
}

.auth__content {
  width: 100%;
  max-width: 375px;
  background: #FFF;
  border-radius: 16px;
  padding: 16px;

  .errorlist {
    margin-top: 1em;
    font-size: $font-size-s;
    line-height: 1.3;
  }
}

.errorlist {
  color: $red;
  padding: 0 0 $padding-unit / 2 $padding-unit / 2;
  font-size: 14px !important;
}

.auth__form {
  background: white;
  padding: 16px 32px;
  position: relative;

  * {
    box-sizing: border-box;
  }

  label {
    margin-top: 1.5em;
  }

  input {
    width: 100% !important;
  }

  button {
    margin-top: 1.25em;
    width: 100%;
    display: block;
  }
}

.auth__separator {
  height: 3px;
  width: 100%;
  -webkit-box-shadow: inset 0 3px 0 0 var(--primary-color);
  box-shadow: inset 0 3px 0 0 var(--primary-color);
  display: inline-block;
}

.auth__title {
  margin-top: 32px;
  line-height: 160%;
  letter-spacing: 0.15px;
  text-align: center;
}

.auth__language {
  position: absolute;
  top: 0;
  right: 16px;
}

.iaso {

  .auth__container input[type="text"],
  .auth__container input[type="time"],
  .auth__container input[type="number"],
  .auth__container input[type="email"],
  .auth__container input[type="password"],
  .auth__container textarea,
  .auth__container input[type="date"] {
    box-shadow: none !important;
    height: 45px;
  }

}

[class^="auth__text"] {
  font-size: $font-size-standard;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 1em;
}

.auth__text {
  &--error {
    @include text--error;
  }

  &--warning {
    @include text--warning;
  }
}


$right-icon-position: 40px;

#display-password {
  position: absolute;
  width: 30px;
  bottom: 8px;
  border: 1px solid $primary;
  right: 8px;
  background-color: white;
  border-radius: 100%;
  height: 30px;
  cursor: pointer;

  &:hover {
    border: 1px solid;
    filter: brightness(0.90);
  }

  .hidden {
    display: none;
  }

  svg {
    width: auto;
    height: 15px;
    margin-bottom: -2px;
    fill: $primary;

    &:hover {
      filter: brightness(0.90);
    }
  }
}

.auth__message {
  margin: 32px 16px;
}

.bottom-links {
  margin: 24px 0;
  width: 100%;
  text-align: center;
  font-size: 16px;

  a {
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.reset-password-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.language-picker {
  height: 42px;
  padding: 0 0 0 10px;
  margin-top: 10px;
  margin-left: auto;
  display: block;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #ccc;
}


.auth__security_tips {
  margin-top: 16px;
  padding: 24px;
  background: #E2F0FA;
}

.auth__security_tips ul {
  margin-top: 16px;
  margin-left: 16px;
  color: #00000099;
  line-height: 22px;
}

.auth__security_tips li {
  margin-bottom: 8px;
}


.auth__security_checks {
  margin-top: 16px;
  padding-bottom: 16px; /* margin bottom doesn't work */
  font-weight: normal;
  font-size: 14px;
}

.auth__security_checks span {
  height: 22px;
  background-repeat: no-repeat;
  padding-left: 30px; /* width of the image plus a little extra padding */
  display: block; /* may not need this, but I've found I do */
  line-height: 22px;
}

.auth__security_checks .off {
  color: #00000099;
  background-image: url('../images/info.png');
}

.auth__security_checks .on {
  color: #2E7D32;
  background-image: url('../images/valid.png');
}

.form-group {
  position: relative;
}