.jsoneditor .ace_gutter {
    background: #2F3129;
    color: #8F908A
}

.jsoneditor .ace_print-margin {
    width: 1px;
    background: #555651
}

.jsoneditor {
    background-color: #272822;
    color: #F8F8F2
}

.jsoneditor .ace_cursor {
    color: #F8F8F0 !important;
}

.jsoneditor .ace_marker-layer .ace_selection {
    background: #49483E
}

.jsoneditor.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #272822;
}

.jsoneditor .ace_marker-layer .ace_step {
    background: rgb(102, 82, 0)
}

.jsoneditor .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid #49483E
}

.jsoneditor .ace_marker-layer .ace_active-line {
    background: #202020
}

.jsoneditor .ace_gutter-active-line {
    background-color: #272727
}

.jsoneditor .ace_marker-layer .ace_selected-word {
    border: 1px solid #49483E
}

.jsoneditor .ace_invisible {
    color: #52524d
}

.jsoneditor .ace_entity.ace_name.ace_tag,
.jsoneditor .ace_keyword,
.jsoneditor .ace_meta.ace_tag,
.jsoneditor .ace_storage {
    color: #F92672
}

.jsoneditor .ace_punctuation,
.jsoneditor .ace_punctuation.ace_tag {
    color: #fff
}

.jsoneditor .ace_constant.ace_character,
.jsoneditor .ace_constant.ace_language,
.jsoneditor .ace_constant.ace_numeric,
.jsoneditor .ace_constant.ace_other {
    color: #AE81FF
}

.jsoneditor .ace_invalid {
    color: #F8F8F0;
    background-color: #F92672
}

.jsoneditor .ace_invalid.ace_deprecated {
    color: #F8F8F0;
    background-color: #AE81FF
}

.jsoneditor .ace_support.ace_constant,
.jsoneditor .ace_support.ace_function {
    color: #66D9EF
}

.jsoneditor .ace_fold {
    background-color: #A6E22E;
    border-color: #F8F8F2
}

.jsoneditor .ace_storage.ace_type,
.jsoneditor .ace_support.ace_class,
.jsoneditor .ace_support.ace_type {
    font-style: italic;
    color: #66D9EF
}

.jsoneditor .ace_entity.ace_name.ace_function,
.jsoneditor .ace_entity.ace_other,
.jsoneditor .ace_entity.ace_other.ace_attribute-name,
.jsoneditor .ace_variable {
    color: #A6E22E
}

.jsoneditor .ace_variable.ace_parameter {
    font-style: italic;
    color: #FD971F
}

.jsoneditor .ace_string {
    color: #E6DB74
}

.jsoneditor .ace_comment {
    color: #75715E
}

.jsoneditor .ace_indent-guide {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y
}

.jsoneditor .jsoneditor-menu {
    background-color: var(--primary);
    caret-color: fff;
}

.jsoneditor .jsoneditor-poweredBy {
    display: none;
}

.jsoneditor .ace_content {
    background-color: #272822;
}

.jsoneditor .jsoneditor-statusbar {
    background-color: #272822;
}

.jsoneditor .jsoneditor-menu>button.jsoneditor-sort {
    background-position: -120px -218px;
}

.jsoneditor .jsoneditor-menu>button.jsoneditor-transform {
    background-position: -266px 71px;
}



.jsoneditor .ace-jsoneditor .ace_cursor {
    border-left: 2px solid #fff
}

.jsoneditor .ace-jsoneditor .ace_overwrite-cursors .ace_cursor {
    border-left: 0px;
    border-bottom: 1px solid #fff
}

.jsoneditor .ace-jsoneditor,
.jsoneditor textarea.jsoneditor-text {
    min-height: 50px;
}