option_settings:
  aws:elasticbeanstalk:application:environment:
    DEPLOYED_BY: "deployed_by_value"
    DEPLOYED_ON: "deployed_on_value"
    PROD_IMAGE_CREATION: "prod_image_creation_value"
    PROD_IMAGE_DIGEST: "prod_image_digest_value"
    PROD_IMAGE_TAG: "prod_image_tag_value"
  aws:elbv2:loadbalancer:
    IdleTimeout: 360