{% load i18n %}
{% blocktrans trimmed %}
<p>
    Hello,<br><br>

    You have been invited to access IASO - <a href="{{ protocol }}://{{ domain }}" target="_blank">{{ account_name }}</a>.<br><br>

    Username: <strong>{{ userName }}</strong><br><br>

    Please click on the link below to create your password:<br><br>

    <a href="{{ url }}" target="_blank">{{ url }}</a><br><br>

    If clicking the link above doesn't work, please copy and paste the URL in a new browser<br>
    window instead.<br><br>

    If you did not request an account on {{ account_name }}, you can ignore this e-mail - no password will be
    created.<br><br>

    Sincerely,<br>
    The {{ domain }} Team.
</p>
{% endblocktrans %}