@charset "UTF-8";
@import url(~font-awesome/css/font-awesome.css);

body .ReactTable .rt-tbody .rt-td {
    display: flex;
    align-items: center;
    justify-content: center;
}

body .ReactTable .rt-tbody .rt-td.justify-left {
    justify-content: flex-start;
}

body .ReactTable .rt-tr {
    background-color: white;
}

body .filter__container__select.date-select .filter__container__select__label {
    width: 75px;
}

body.instances .ReactTable .rt-tbody {
    padding-bottom: 16px;
}

body .ReactTable .rt-thead.-header {
    z-index: 100;
}

body .ReactTable {
    border: 1px solid #ccc;
}

body .ReactTable .rt-noData {
    top: 80px;
}

body .ReactTable .rt-th,
body .ReactTable .rt-td {
    padding: 10px;
}

body .ReactTable .rt-th.small,
body .ReactTable .rt-td.small {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .ReactTable .rt-th.small .not-located,
body .ReactTable .rt-td.small .not-located {
    margin: -5px 0;
}

body .ReactTable .rt-th.align-left,
body .ReactTable .rt-td.align-left {
    justify-content: flex-start !important;
}

body .ReactTable .rt-th.select,
body .ReactTable .rt-td.select {
    overflow: visible !important;
}

body .ReactTable .rt-th.action-zone,
body .ReactTable .rt-td.action-zone {
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

body .ReactTable .rt-thead .rt-th,
body .ReactTable .rt-thead .rt-td {
    border-right: 1px solid #ccc;
    outline: none;
    box-shadow: none;
}

body .ReactTable .rt-thead .rt-th {
    height: 40px;
    padding-top: 9px;
    box-sizing: border-box;
}

body .ReactTable .rt-thead.-filters .rt-th {
    height: 50px;
}

body .ReactTable .rt-thead.-filters .rt-th input {
    box-shadow: none;
    outline: none;
}

body .ReactTable .-pagination .-previous .-btn,
body .ReactTable .-pagination .-next .-btn {
    display: inline-block;
    font-size: 0;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    color: white;
    background: #3f51b5;
}

body .ReactTable .-pagination .-previous .-btn:hover,
body .ReactTable .-pagination .-next .-btn:hover {
    background: #32408f;
}

body .ReactTable .-pagination .-previous .-btn:before,
body .ReactTable .-pagination .-next .-btn:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    font-size: 14px;
    display: block;
    content: "\f048";
}

body .ReactTable .-pagination .-next .-btn {
    float: left;
}

body .ReactTable .-pagination .-next .-btn:before {
    content: "\f051";
}

body .ReactTable .rt-thead.-header .rt-th {
    font-size: 12px;
    padding-top: 12px;
}

body .ReactTable .rt-tbody .rt-th,
body .ReactTable .rt-tbody .rt-td {
    text-align: center;
}

body .ReactTable .rt-tfoot {
    text-align: center;
    font-weight: bold;
}

.marker-cluster,
.marker-custom {
    background-clip: padding-box;
    border-radius: 100%;
}

.marker-cluster.with-icon img,
.marker-custom.with-icon img {
    width: 20px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: -10px;
}

.marker-cluster.with-icon>div,
.marker-custom.with-icon>div {
    width: 35px !important;
    height: 35px !important;
    text-align: center;
    font-size: 9px;
}

.marker-cluster.with-icon.small img,
.marker-custom.with-icon.small img {
    margin-bottom: -5px;
}

.marker-cluster.with-icon.small>div,
.marker-custom.with-icon.small>div {
    font-size: 10px;
}

.marker-cluster.with-icon.big-icon img,
.marker-custom.with-icon.big-icon img {
    width: 25px;
}

.marker-cluster div,
.marker-custom div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 100%;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}

[class*="leaflet-control-zoom-"] {
    font-size: 0.875rem;
    font-weight: bold;
    height: 34px;
    line-height: 30px;
    margin: 0;
    text-align: center;
    width: 34px;
}

.leaflet-control-zoom-box:after {
    color: #333;
    content: '\f096';
    /* empty square icon */
    font-family: FontAwesome;
    font-size: 1rem;
}

.leaflet-control-zoom-search:after {
    color: #333;
    content: "";
    /* empty square icon */
    font-family: FontAwesome;
    font-size: 1rem;
}

.leaflet-control-zoom-box.active {
    color: #3f51b5;
    background: #bec5e8;
}

.leaflet-control-zoom-box.active:after {
    color: #3f51b5;
}

.leaflet-control-zoom-fit:after {
    color: #333;
    content: '\f041';
    /* map marker icon */
    font-family: FontAwesome;
    font-size: 1rem;
}

.map__control__button--printer {
    align-items: center;
    background: white;
    border-radius: 10px;
    border: 2px solid #3f51b5;
    box-shadow: 0 0 3px 0 #333;
    box-sizing: border-box;
    display: flex;
    font-size: 0.75rem;
    height: auto;
    margin-right: 10px;
    padding: 8px;
    text-align: left;
    width: auto;
}

.map__control__button--printer .map__icon--printer {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 64px;
    margin-right: 6px;
}

.map__control__button--printer .map__icon--printer:after {
    margin-left: 6px;
    font-style: normal;
    font-size: 48px;
    line-height: 64px;
    font-family: FontAwesome;
    color: #3f51b5;
    content: '\f02f';
    /* printer icon */
}

/*
 * BOXZOOM
 * https://github.com/gregallensworth/L.Control.BoxZoom
 */
.leaflet-container.leaflet-control-boxzoom-active {
    cursor: crosshair !important;
}

.leaflet-container.leaflet-control-boxzoom-active path.leaflet-interactive {
    cursor: crosshair !important;
}