{% extends 'app.html' %}
{% load i18n %}

{% block header %}
  <h1 class="header__title">{% trans 'Events' %}</h1>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="widget__container">
      <div class="widget__header">
        <h2 class="widget__heading">
          {{ count }} {% trans 'Events' %}
        </h2>
      </div>

      <section class="widget__content">
        <table class="table--minimised list__table list__table--list" data-qa="events-data-loaded">
          <thead>
            <tr>
              <th>{% trans 'ID' %}</th>
              <th>{% trans 'Date' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Total' %}</th>
              <th>{% trans 'Created' %}</th>
              <th>{% trans 'Updated' %}</th>
              <th>{% trans 'Deleted' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for event in items %}
              <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.stamp|date:'Y-m-d H:i:s.u' }}</td>
                <td>
                  {{ event.table_name }}
                  {% if event.sub_type %}
                  - {{ event.sub_type }}
                  {% endif %}
                </td>
                <td>{{ event.name }}</td>
                <td>{{ event.total }}</td>
                <td>{{ event.created }}</td>
                <td>{{ event.updated }}</td>
                <td>{{ event.deleted }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </div>
  </div>
{% endblock %}
