{% extends "app.html" %}
{% load i18n %}
{% load hat %}

{% block header %}
  <h1 class="header__title">{% trans "Cases" %}</h1>
{% endblock %}

{% block content %}
  <div class="content">

    {% include "cases/filters.html" with form=form custom=custom_filters %}

    <div class="widget__container">
      <div class="widget__header">
        <h2 class="widget__heading">
          {{ page.count }} {% trans "Cases found" %}
        </h2>
      </div>

      {% include "cases/download.html" with form=form perms=perms download_link=download_link %}

      <section class="widget__content">
        <table class="table--minimised list__table list__table--list">
          <thead>
            <tr>
              <th>{% trans "Date" %}</th>
              <th>{% trans "Location" %}</th>
              <th>{% trans "Source" %}</th>
              {% for column in columns %}
                <th>{{ column.label }}</th>
              {% endfor %}
              <th>{% trans "ID" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for case in page.items %}
              <tr>
                <td>{{ case.document_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ case.full_location }}</td>
                <td>{{ case.source }}</td>
                {% for column in columns %}
                  <td>{{ case|get:column.id }}</td>
                {% endfor %}
                <td><a href="{% url 'cases:cases_details' doc_id=case.document_id %}?back={{ request.get_full_path|urlencode }}">{{ case.document_id }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>

      {% include "pagination.html" with page=page only %}
    </div>
  </div>
{% endblock %}
