<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        {{ analytics_script | safe }}
        <script src="https://unpkg.com/@superset-ui/embedded-sdk"></script>
    </head>

    <body>
        <div id="my-superset-container"></div>

        <script>
            async function fetchGuestTokenFromBackend() {
                response = await fetch('/api/superset/token/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        dashboard_id: '{{dashboard_id}}',
                    }),
                });
                const json_resp = await response.json();
                return json_resp.token;
            }

            const containerRef = document.getElementById(
                'my-superset-container',
            );

            supersetEmbeddedSdk.embedDashboard({
                id: '{{dashboard_id}}',
                supersetDomain: 'https://superset.trypelim.org',
                mountPoint: containerRef,
                fetchGuestToken: () => fetchGuestTokenFromBackend(),
                dashboardUiConfig: {
                    hideTitle: true,
                    hideTab: true,
                    hideChartControls: true,
                    filters: {
                        visible: false,
                        expanded: false,
                    },
                },
            });

            const iframe = containerRef.querySelector('iframe');
            if (iframe) {
                iframe.style.width = '100%';
                iframe.style.height = '97vh';
                iframe.style.border = '0';
            }
        </script>

        {% include "iaso/pages/refresh_data_set_snippet.html" %}
    </body>
</html>
