{# This template is for pure HTML pages (not react)  e.g login, etc.. #}
{% extends 'iaso/base.html' %}
{% block head %}
  {% load render_bundle from webpack_loader %}
  <style>
      :root {
          --primary-color: {{ THEME_PRIMARY_COLOR }};
          --secondary-color: {{ THEME_SECONDARY_COLOR}};
          --primary-background-color: {{ THEME_PRIMARY_BACKGROUND_COLOR}};
      }
  </style>
  {% load sass_tags %}
  <link href="{% sass_src 'css/index.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}
