{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{{ app_title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  {# favicon #}
  <link rel="icon" type="image/png" href="{% static favicon_path %}">

  {% block extrajs %}
  {% endblock %}
  {% block head %}
  {% endblock %}

  {% if user.is_authenticated %}
  <meta data-qa="logged-in-marker" name="logged-in" content="{{ user.get_username }}">
  {% else %}
  <meta property="og:title" content="{{ app_title }}" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="{{ request.build_absolute_uri }} " />
  {% endif %}
  {% if ANALYTICS_SCRIPTS %}
    {% for analytic_script in ANALYTICS_SCRIPTS %}
      {{ analytic_script | safe }}
    {% endfor %} 
  {% endif %}
</head>

<body class="iaso">
  {% block body %}
  {% endblock %}
</body>
</html>
