{% extends 'iaso/base_auth.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% block body %}
<div class="auth__container iasologin">
  <div class="auth__content">
    <header class="auth__header">
      <h1 class="auth__heading"> <img alt="logo" src="{% static logo_path %}" /></h1>
    </header>
    <div>
      {% get_providers as socialaccount_providers %}
      {% for provider in socialaccount_providers %}
        {% if  provider.id == 'wfp' %}
          {% include "wfp_auth/login_subtemplate.html" %}
        {% endif %}
      {% endfor %}
      {% include "./language_picker.html" %}
    </div>
  </div>
</div>

{% endblock %}
