{% extends 'iaso/base_auth.html' %}
{% load i18n %}
{% load static %}
{% block body %}
  <div class="auth__container">
    <header class="auth__header">
      <h1 class="auth__heading"> <img alt="logo" src="{% static logo_path %}" /></h1>
    </header>
    <div class="auth__content">
      <form method="post" class="auth__form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button">{% trans 'Submit' %}</button>
        <p class="bottom-links"><a href="{% url 'login' %}">{% trans 'Go back to login' %}</a></p>
      </form>
      {% include "./language_picker.html" %}
    </div>
  </div>
{% endblock %}
