{% extends 'iaso/base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% block extrajs %}
{% render_bundle 'common' %}
{% render_bundle 'iaso' %}
{% endblock %}
{% block body %}
<section>
  {% block content %}
  <div id="app"></div>
  <script>
    window.STATIC_URL = "{{ STATIC_URL }}";
    window.IASO_VERSION = "{{ VERSION }}";
    window.SENTRY_CONFIG = {{ sentry_config | safe }};
    const productFruitsConfig = {{ product_fruits_config | safe }};
    window.PRODUCT_FRUITS_WORKSPACE_CODE = productFruitsConfig.PRODUCT_FRUITS_WORKSPACE_CODE;

    const PLUGINS_ENABLED = {{ PLUGINS_ENABLED| safe }};
    const USER_HOME_PAGE = "{{ USER_HOME_PAGE |default:"" }}";
    // From context processor
    const THEME = {{ theme| safe }};
    window.iasoApp(document.getElementById("app"), PLUGINS_ENABLED, THEME, USER_HOME_PAGE);
  </script>
  {% endblock %}
</section>
{% endblock %}