{% extends 'iaso/base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% block extrajs %}
  <script type="text/javascript">
      const STATIC_URL = '{{ STATIC_URL }}';
      const PLUGIN_POLIO_ENABLED = '{{ PLUGIN_POLIO_ENABLED }}';
  </script>
  {% render_bundle 'common' %}
  {% render_bundle 'iaso' %}
{% endblock %}
{% block body %}
  <section>
    {% block content %}
      <div id="app"></div>
      <script>
        window.iasoApp(document.getElementById('app'), '/dashboard');
      </script>
    {% endblock %}
  </section>
{% endblock %}
