{% extends 'iaso/base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% block head %}
    {% if DEV_SERVER %}
    <!-- this is for CSS Hot reloading in DEV -->
    {% render_bundle 'styles' %}
  {% else %}
    <!-- we're in the non dev-server part -->
    {% render_bundle 'styles' 'css' %}
  {%  endif %}
{% endblock %}
{% block extrajs %}
  {% render_bundle 'common' %}
  {% render_bundle 'iaso' %}
{% endblock %}
{% block body %}
  <section>
    {% block content %}
      <div id="app"></div>
      <script>
        const PLUGINS_ENABLED = {{ PLUGINS_ENABLED|safe }};
        window.iasoApp(document.getElementById("app"), PLUGINS_ENABLED);
      </script>
    {% endblock %}
  </section>
{% endblock %}
