{% extends 'iaso/base_auth.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% block body %}
<div class="auth__container iasologin">
  <div class="auth__content">
    <header class="auth__header">
      <h1 class="auth__heading"> <img alt="logo" src="{% static logo_path %}" /></h1>
    </header>
    <div>
      {% get_providers as socialaccount_providers %}
      <!-- {% for provider in socialaccount_providers %}
        {% if  provider.id == 'wfp' %}
          {% include "wfp_auth/login_subtemplate.html" %}
        {% endif %}
      {% endfor %} -->
      <form method="post" data-qa="login-form" class="auth__form" action="{% url 'login' %}">
        {% if next %}
        {% if user.is_authenticated %}
        <p class="auth__text--warning">
          {% blocktrans %}Your account doesn't have access to this page. To proceed, please login with an account that has access.
          {% endblocktrans %}
        </p>
        {% else %}
        <p class="auth__text--warning">
          {% trans 'Please login to see this page.' %}
        </p>
        {% endif %}
        {% endif %}
        {% if form.errors %}
        <p class="auth__text--error">
          {% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}
        </p>
        {% endif %}
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="next" value="{{ next }}" />
        <button id="submit" type="submit" class="button">{% trans 'Login' %}</button>
        <button id="display-password">
          {% include "./icons/eye.html" %}
          {% include "./icons/eye-slash.html" %}
        </button>
        <p class="login-link"><a href="{% url 'forgot_password' %}">{% trans 'Forgot password' %}</a></p>
      </form>
      {% include "./language_picker.html" %}
    </div>
  </div>
</div>
<script>
  function togglePassword() {
    const passwordField = document.getElementById("id_password");
    if (passwordField.getAttribute("type") === "password") {
      passwordField.setAttribute("type", "text");
      document.getElementById("eye").setAttribute("class", "hidden");
      document.getElementById("eye-slash").setAttribute("class", "");
    } else {
      passwordField.setAttribute("type", "password");
      document.getElementById("eye").setAttribute("class", "");
      document.getElementById("eye-slash").setAttribute("class", "hidden");
    }
  }

  document.getElementById("display-password").addEventListener("click", function (e) {
    e.preventDefault();
    togglePassword();
  });
</script>
{% endblock %}
