{% extends 'iaso/base_auth.html' %}
{% load i18n %}
{% load static %}
{% block body %}
<div class="auth__container">
    <div class="auth__content">
      <header class="auth__header">
        <h1 class="auth__heading">
          {% if logo_path %}
             <img alt="logo" src="{% static logo_path %}" />
          {% endif %}
        </h1>
      </header>
    <div class="auth__message">
      <p>
        {% url 'login' as login_url %}
        {% blocktrans %}
        Your password has been set. You may go ahead and <a href="{{ login_url }}">sign in</a> now.
        {% endblocktrans %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
