{% extends 'iaso/base_auth.html' %}
{% load i18n %}
{% load static %}
{% block body %}
  <div class="auth__container">
    {% include "./language_picker.html" %}
    <div class="auth__content">
      <header class="auth__header">
        <h1 class="auth__heading">
          {% if logo_path %}
             <img alt="logo" src="{% static logo_path %}" />
          {% endif %}
          <p class="auth__title">{% trans 'Create a new password' %}</p>
        </h1>
      </header>
      {% if form %}
          <form method="post" class="auth__form">
            {% csrf_token %}
            <fieldset class="module aligned">
              <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <div class="flex-container">
                  <label for="id_new_password1">{% translate 'New password:' %}</label>
                  {{ form.new_password1 }}
                </div>
              </div>

              <p class="auth__security_checks">
                <span class="off" id="length">{% trans "Password must be at least 8 characters" %}</span><br/>
                <span class="off" id="one_letter">{% trans "Password must contain at least one letter" %}</span>
              </p>

              <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <div class="flex-container">
                  <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                  {{ form.new_password2 }}
                </div>
              </div>
            </fieldset>

            <div class="form-group api-response"></div>
            <button type="submit" class="button">{% trans 'Submit' %}</button>
             <p class="bottom-links"><a href="{% url 'login' %}">{% trans 'Go back to login' %}</a></p>
          </form>

          <div class="auth__security_tips">
            <h3>{% trans "Security tips" %}</h3>
            <ul>
              <li>{% trans "Use at least 8 characters, a combination of numbers and letters is best." %}</li>
              <li>{% trans "Do not use the same password for multiple online accounts." %}</li>
              <li>{% trans "Do not use dictionary words, your name, email address, birth date or other personal information that can be easily obtained." %}</li>
            </ul>
          </div>
        </div>
      {% else %}
        <form method="post" class="auth__form">
          <p class="auth__text--error">
            {% trans "The password reset link is invalid, possibly because it has already been used or expired. Please request a new password reset by clicking on this " %}<a class="reset-password-link" href="{% url 'forgot_password' %}">{% trans 'link.' %}</a>
          </p>
        </form>
      {% endif %}
  </div>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
      const passwordInput = document.getElementById('id_new_password1');
      const lengthReq = document.getElementById('length');
      const letterReq = document.getElementById('one_letter');

      passwordInput.addEventListener('input', () => {
        const value = passwordInput.value;

        // Check Length (8 or more characters)
        if (value.length >= 8) {
          lengthReq.classList.replace('off', 'on');
        } else {
          lengthReq.classList.replace('on', 'off');
        }

        // Check for at least one letter
        // /[a-zA-Z]/ matches any standard alphabetic character
        if (/[a-zA-Z]/.test(value)) {
          letterReq.classList.replace('off', 'on');
        } else {
          letterReq.classList.replace('on', 'off');
        }
      });
    });
  </script>
{% endblock %}
