{% load i18n %}{% url 'reset_password_confirmation' uidb64=uid token=token  as reset_url %}
{% autoescape off %}
{%blocktrans%}Hello,{%endblocktrans%}

{% blocktrans with  username=user.get_username %}A password reset has been request for your account "{{ username }}" on {{ site_name }},{%endblocktrans%}
{%blocktrans%}to proceed please click the link below:{%endblocktrans%}

{{ protocol }}://{{ domain }}{{ reset_url }}

{%blocktrans%}If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.{%endblocktrans%}

{%blocktrans%}If you did not request a password reset, you can ignore this e-mail - no passwords will be changed.{%endblocktrans%}

{%blocktrans%}Sincerely,{%endblocktrans%}
{%blocktrans%}The {{ site_name }} Team.{% endblocktrans %}
{% endautoescape %}
