{% load i18n %}{% url 'reset_password_confirmation' uidb64=uid token=token  as reset_url %}
{% autoescape off %}{% blocktrans with  username=user.get_username %}
Hello,

A password reset has been request for your account "{{ username }}" on {{  site_name }},
to proceed please click the link below:

{{ protocol }}://{{ domain }}{{ reset_url }}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

If you did not request a password reset, you can ignore this e-mail - no passwords will be changed.

Sincerely,
The {{ site_name }} Team.
{% endblocktrans %}{% endautoescape %}
