{% extends 'iaso/base_auth.html' %}
{% load i18n %}
{% load static %}
{% block body %}
  <div class="auth__container">
      {% if logo_path %}
        <header class="auth__header">
          <h1 class="auth__heading"> <img alt="logo" src="{% static logo_path %}" /></h1>
        </header>
      {% endif %}
      {% if form %}
        <div class="auth__content">
          
          <form method="post" class="auth__form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="button">{% trans 'Submit' %}</button>
          </form>
        </div>
      {% else %}
        <form method="post" class="auth__form">
          <p class="auth__text--error">
            {% trans "The password reset link is invalid, possibly because it has already been used or expired. Please request a new password reset by clicking on this " %}<a class="reset-password-link" href="{% url 'forgot_password' %}">{% trans 'link.' %}</a>
          </p>
        </form>
      {% endif %}
  </div>
{% endblock %}
