{% extends "emails/base_iaso_email.html" %}
{% block email_body %}
{% load i18n %}
{% url 'reset_password_confirmation' uidb64=uid token=token as reset_url %}
<p>{% blocktrans %}Hello,{% endblocktrans %}</p>

<p>{% blocktrans with username=user.get_username %}A password reset has been requested for your account "{{ username }}" on {{ site_name }},{% endblocktrans %}
{% blocktrans %}to proceed please click the link below:{% endblocktrans %}</p>

<p><a href="{{ protocol }}://{{ domain }}{{ reset_url }}">{{ protocol }}://{{ domain }}{{ reset_url }}</a></p>

<p>{% blocktrans %}If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.{% endblocktrans %}</p>

<p>{% blocktrans %}If you did not request a password reset, you can ignore this e-mail - no passwords will be changed.{% endblocktrans %}</p>

<p>{% blocktrans %}Sincerely,{% endblocktrans %}<br>
{% blocktrans %}The {{ site_name }} Team.{% endblocktrans %}</p>
{% endblock %}
