{% extends 'app.html' %}
{% load i18n %}

{% block header %}
  <h1 class="header__title">{% trans 'Datasets' %} – {{ dataset }}</h1>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="widget__container">
      <div class="widget__header">
        <h2 class="widget__heading">{% trans 'Upload' %} {{ dataset }}</h2>
      </div>
      <div class="widget__content">
        {% if error_count > 0 %}
          <div class="block--margin-bottom--small">
            <h2 class="text--error">
            {% blocktrans count error_count=error_count %}
            {{error_count}} file resulted in errors, please review the file marked below and try again!
            {% plural %}
            {{error_count}} files resulted in errors, please review the files marked below and try again!
            {% endblocktrans %}
            </h2>
          </div>
        {% endif %}

        <table class="job-result-table" style="width: 100%">
          <thead>
            <tr>
              <th>{% trans 'File' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Result' %}</th>
              <th>{% trans 'Total' %}</th>
              <th>{% trans 'Created' %}</th>
              <th>{% trans 'Updated' %}</th>
              <th>{% trans 'Deleted' %}</th>
              <th>{% trans 'Error' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for file in results %}
              <tr class="{% if file.ok %}job-result-ok{% else %}job-result-error{% endif %}">
                <td>{{ file.orgname }}</td>
                <td>{{ file.typename }}</td>
                <td>
                  {% if file.ok %}
                    <span class="text--success"><i class="fa fa-check"></i> {% trans 'Success' %}</span>
                  {% else %}
                    <span class="text--error"><i class="fa fa-times"></i> {% trans 'Error' %}</span>
                  {% endif %}
                </td>
                {% if file.stats %}
                  <td>{{ file.stats.total }}</td>
                  <td>{{ file.stats.created }}</td>
                  <td>{{ file.stats.updated }}</td>
                  <td>{{ file.stats.deleted }}</td>
                {% else %}
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                {% endif %}
                <td>{{ file.error.short_message }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    var fullData = {{resultJSON|safe}};
    console.log(JSON.stringify(fullData, null, 2))
  </script>
{% endblock %}
