{% extends 'app.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block header %}
  <h1 class="header__title">{% trans 'Datasets – locations' %}</h1>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="widget__container">
      <div class="widget__header">
        <h2 class="widget__heading">{% trans 'Upload locations' %}</h2>
      </div>
      <div class="widget__content">
        <p>
          {% blocktrans %}
          Upload a .dbf file containing the locations (file should contain all locations, not just new ones).
          Use this section when the canonical locations files are updated.
          This is useful if new locations are added to the official list, or if population estimates or other information about a location is updated.
          If the province data are not included in the file you will need to upload the health areas file next.
          {% endblocktrans %}
        </p>
        <ul class="list--instructions">
          <li class="list__item--instructions">
            {% blocktrans %}
            To upload data, click “Choose file” and select the file from your computer.
            Hit “Upload locations”.
            {% endblocktrans %}
          </li>
          <li class="list__item--instructions">
            {% blocktrans %}
            You will see a screen showing that the the upload is in progress.
            <strong>Please stay on this screen until you get a notification that the upload has finished.</strong>
            {% endblocktrans %}
          </li>
          <li class="list__item--instructions">
            {% blocktrans %}
            You will see a screen showing successful upload or if the file could not be imported.
            Fix any issues with the file if it could not be imported and re-upload.
            {% endblocktrans %}
          </li>
          <li class="list__item--instructions">
            {% blocktrans %}
            The data will be available immediately after the confirmation message is shown.
            {% endblocktrans %}
          </li>
        </ul>
        <div class="divider"></div>

        <form method="POST" action="{% url 'datasets:import_locations:upload' %}" enctype="multipart/form-data">
          <input type="hidden" name="source" value="villages">
          {% csrf_token %}
          {{ form }}

          <div class="block--margin-top--xs">
            <button type="submit" class="button">{% trans 'Upload locations' %}</button>
          </div>
        </form>
      </div>
    </div>

    <div class="widget__container">
      <div class="widget__header">
        <h2 class="widget__heading">{% trans 'Upload health areas' %}</h2>
      </div>
      <div class="widget__content">
        <p>
          {% blocktrans %}
          Upload a .dbf file containing the complete health areas list
          (file should contain provinces and health zones and areas data).
          This file will <em>update</em> the missing info about provinces in the locations list.
          No new locations will be created.
          {% endblocktrans %}
        </p>
        <ul class="list--instructions">
          <li class="list__item--instructions">
            {% blocktrans %}
            To upload data, click “Choose file” and select the file from your computer.
            Hit “Upload health areas”.
            {% endblocktrans %}
          </li>
          <li class="list__item--instructions">
            {% blocktrans %}
            You will see a screen showing that the the upload is in progress.
            <strong>Please stay on this screen until you get a notification that the upload has finished.</strong>
            {% endblocktrans %}
          </li>
          <li class="list__item--instructions">
            {% blocktrans %}
            You will see a screen showing successful upload or if the file could not be imported.
            Fix any issues with the file if it could not be imported and re-upload.
            {% endblocktrans %}
          </li>
          <li class="list__item--instructions">
            {% blocktrans %}
            The data will be available immediately after the confirmation message is shown.
            {% endblocktrans %}
          </li>
        </ul>

        <div class="divider"></div>

        <form method="POST" action="{% url 'datasets:import_locations:upload' %}" enctype="multipart/form-data">
          <input type="hidden" name="source" value="areas">
          {% csrf_token %}
          {{ form }}

          <div class="block--margin-top--xs">
            <button type="submit" class="button">{% trans 'Upload health areas' %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
