{% extends "app.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block content %}
  <div class="header">
    <h2>{% trans "Monthly Report" %}</h2>
  </div>

  <div class="content">
    <div id='app'></div>
  </div>

  {% render_bundle 'common' %}
  {% render_bundle 'monthly_report' %}
  <script>
  {% comment %}
    The Monthly report app requires a config object populated via django
    The app is started manually with that config:
  {% endcomment %}
    HAT.monthly_report.default(
      {{ json_data|safe }},
      document.getElementById('app'),
      '/dashboard/monthly-report/'
    )
  </script>

{% endblock %}
