{% load i18n %}

{% if perms.cases.export and form %}
<div class="widget__header">
  <div>
    {% if download_link %}
      <p>
        <a class="button--success" href="{{ download_link }}">
          <i class="fa fa-download"></i>
          {% trans "Download cases" %}
        </a>
      </p>
    {% else %}
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="filter__hidden">
          {{ form }}
        </div>
        <button type="submit" class="button">
          <i class="fa fa-download"></i>
          {% trans "Prepare download" %}
        </button>
      </form>
    {% endif %}
    <br>
    <p class="text--data">
      {% blocktrans %}
      Download data as a CSV file.
      Download all data from the database or a subset of the data based on your current filters.
      {% endblocktrans %}
    </p>
  </div>
</div>
{% endif %}
