{% load i18n %}

<form name="casesfilter" method="GET" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="filter__container">
    <h2 class="filter__label">
      <i class="fa fa-globe"></i>
      {% trans "Location" %}
    </h2>
    <div class="filter__container__select">
      <label class="filter__container__select__label" for="{{ form.ZS.id_for_label }}">{% trans "ZS" %}</label>
      {{ form.ZS }}
    </div>
    {% if form.AS %}
      <div class="filter__container__select">
        <label class="filter__container__select__label" for="{{ form.AS.id_for_label }}">{% trans "AS" %}</label>
        {{ form.AS }}
      </div>
    {% endif %}
    {% if form.village %}
      <div class="filter__container__select">
        <label class="filter__container__select__label" for="{{ form.village.id_for_label }}">{% trans "Village" %}</label>
        {{ form.village }}
      </div>
    {% endif %}
  </div>
  <div class="filter__container">
    <h2 class="filter__label">
      <i class="fa fa-calendar"></i>
      {% trans "Timeframe" %}
    </h2>
    <div class="filter__container__input">
      <label class="filter__container__select__label" for="{{ form.date_from.id_for_label }}">{% trans "From" %}</label>
      {{ form.date_from }}
    </div>
    <div class="filter__container__input">
      <label class="filter__container__select__label" for="{{ form.date_to.id_for_label }}">{% trans "To" %}</label>
      {{ form.date_to }}
    </div>
  </div>

  {% if custom %}
    {% for field in form%}
      {% if field.html_name in custom %}
        <div class="filter__container">
          <h2 class="filter__label">
            <i class="fa fa-search"></i>
            {% trans "Filter" %}
          </h2>

          {% if field.field.choices %}
          <div class="filter__container__select">
          {% else %}
          <div class="filter__container__input">
          {% endif %}
            <label class="filter__container__select__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
          {% if not field.field.choices %}
          <button type="submit" class="button--reduced block--margin-left--xs">{% trans "Search" %}</button>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if form.order %}
    <div class="filter__container">
      <h2 class="filter__label">
        <i class="fa fa-sort-alpha-asc"></i>
        {% trans "Order" %}
      </h2>
      <div class="filter__container__select">
        <label class="filter__container__select__label" for="{{ form.order.id_for_label }}">{% trans "Field" %}</label>
        {{ form.order }}
      </div>
      <div class="form__wrapper inline">
        {{ form.asc_desc }}
      </div>
    </div>
  {% endif %}

  {% if form.columns %}
    <div class="filter__container">
      <h2 class="filter__label">
        <i class="fa fa-table"></i>
        {% trans "Group by" %}
      </h2>
      <div class="form__wrapper inline">
        {{ form.columns }}
      </div>
    </div>
  {% endif %}
</form>
