{% extends "app.html" %}
{% load i18n %}

{% block content %}
  <div class="header">
    <h1>Sense HAT</h1>
    <h2>{% trans "Maintenance" %}</h2>
  </div>

  <div class="content">
    <p>
      {% trans "Delete the data." %}
      <form method="POST" action="{% url 'maintenance:delete_data' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="pure-button pure-button-primary" onclick="return confirm('{% trans "Are you sure?" %}')">{% trans "Delete Data" %}</button>
      </form>
    </p>
    <br>
    <p>
      {% trans "Delete the data and reimport." %}
      <form method="POST" action="{% url 'maintenance:reimport' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="pure-button pure-button-primary" onclick="return confirm('{% trans "Are you sure?" %}')">{% trans "Reimport" %}</button>
      </form>
    </p>
  </div>
{% endblock %}
