{% extends "app.html" %}
{% load i18n %}

{% block header %}
  <h1 class="header__title">{% trans "Maintenance" %}</h1>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="widget__container">
      <div class="widget__header">
        <h2 class="widget__heading">{% trans "Stats" %}</h2>
      </div>
      <div class="widget__content">
        <table class="table--stats">
          <thead>
            <tr>
              <th>{% trans "Store" %}</th>
              <th>{% trans "Number of records" %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{% trans "Raw" %}</td>
              <td>{{ num_raw }}</td>
            </tr>
            <tr>
              <td>{% trans "Transformed" %}</td>
              <td>{{ num_transformed }}</td>
            </tr>
            <tr>
              <td>{% trans "Duplicate matches" %}</td>
              <td>{{ num_duplicates }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="widget__container">
      <div class="widget__header">
        <h2 class="widget__heading">{% trans "Actions" %}</h2>
      </div>

      <div class="widget__content">
        <table class="table--stats">
          <tbody>
            <tr>
              <td>{% trans "Delete the transformed data." %}</td>
              <td>
                <form method="POST" action="{% url 'maintenance:delete_db_data' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form }}
                  <button type="submit" class="button--reduced" onclick="return confirm('{% trans "Are you sure?" %}')">{% trans "Delete Transformed" %}</button>
                </form>
              </td>
            </tr>
            {% if show_raw_data_button %}
              <tr>
                <td>{% trans "Delete the raw data. This is not recoverable!"  %}</td>
                <td>
                  <form method="POST" action="{% url 'maintenance:delete_couchdb_data' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="button--reduced" onclick="return confirm('{% trans "Are you sure?" %}')">{% trans "Delete Raw" %}</button>
                  </form>
                </td>
              </tr>
            {% endif %}
            <tr>
              <td>{% trans "Delete the transformed data and reimport from raw." %}</td>
              <td>
                <form method="POST" action="{% url 'maintenance:reimport' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form }}
                  <button type="submit" class="button--reduced" onclick="return confirm('{% trans "Are you sure?" %}')">{% trans "Reimport" %}</button>
                </form>
              </td>
            </tr>
            <tr>
              <td>{% trans "Rebuild the reconciliation duplicates list." %}</td>
              <td>
                <form method="POST" action="{% url 'maintenance:rebuild_duplicates' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form }}
                  <button type="submit" class="button--reduced" onclick="return confirm('{% trans "Are you sure?" %}')">{% trans "Rebuild Duplicates" %}</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
