.iaso {
    .marker-cluster {
        background-clip: padding-box;
        border-radius: 100%;

        &.with-icon {
            margin-top:  -35px !important;
            img {
                width: 50px;
                height: auto;
                margin: 0 auto;
                display: block;
                top: 0;
                position: absolute;
                z-index: -1;
                left: -3px;
            }

            >div {
                margin: 0;
                width: 45px !important;
                height: 45px !important;
                text-align: center;
                font-size: 9px;
                font-weight: bold;
                color: white;

                >span {
                    position: relative;
                    top: -3px;
                }
            }
        }
    }
}