.iaso {
    .Select-control {
        height: 55px;

        .Select-value,
        .Select-placeholder,
        .Select-input {
            display: flex !important;
            align-items: center;
            height: 55px;
            padding-left: 16px !important;
            padding-right: 16px !important;
            font-size: 16px !important;
        }


        .Select-clear {
            font-size: 30px;
            font-weight: lighter;
            margin-top: -5px;
            margin-right: 5px;
        }
    }

    .Select-menu-outer {
        z-index: 999;
    }

    .Select-value-label {
        width: 90%;
        overflow: hidden;
    }
}