# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html#linux-container-commands
# check /var/log/cfn-init-cmd.log
container_commands:
    # wait
    00sleep:
        command: "sleep 60 && docker compose ps"
    # add translations
    10translations:
        command: "docker compose exec -T iaso python manage.py compilemessages"
    # upload the static (JS, CSS, ...) to the S3 bucket
    20collectstatic:
        command: "docker compose exec -T iaso python manage.py collectstatic --noinput"
        leader_only: true
    # Database migrations
    30migrate:
        command: "docker compose exec -T iaso python manage.py migrate --noinput"
        leader_only: true
    # create cache table in database
    40createcachetable1:
        command: "docker compose exec -T iaso python manage.py createcachetable"
        leader_only: true