{% load static %}

<html>
<head>
    <style>
        #main_container {
            padding:10px;
            max-width: 960px;
            margin: auto;
        }
        #encoding-form-div {
            padding:10px;
            margin:10px 0 0 0 ;
            border: solid 1px orange;
        }

    </style>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

{{ case_form.media }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />

</head>
<body>
<div id="main_container">
<h2>Encodage de cas</h2>
    <div id="encoding-form-div">
    <form>
         {% csrf_token %}

    <table>{{ case_form.as_table }}</table>
        <input type="submit" value="Enregistrer"/>
    </form>
    </div>
</div>
</body>
</html>