name: Iaso Cypress manual testing
# This workflow allows to launch cypress tests manually
on: push

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test_cypress:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    services:
      postgres:
        image: mdillon/postgis:10
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a health check
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: npm
            
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: node_modules-${{ hashFiles('package-lock.json') }}

      # - name: upgrade npm
      #   run: |
      #     npm install --global npm@8.5

      # - run: npm ci --ignore-scripts
      #   if: steps.cache.outputs.cache-hit != 'true'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Build Docker image
      #   uses: docker/build-push-action@v2
      #   with:
      #     push: false
      #     load: true
      #     tags: iaso:${{ github.sha }}
      #     target: dev
      #     file: docker/bundle/Dockerfile
      #     cache-from: type=registry,ref=ghcr.io/blsq/iaso:buildcache
      #     cache-to: type=registry,ref=ghcr.io/blsq/iaso:buildcache,mode=max
      - run: |
          docker ps
          docker network ls
     
      - name: Run IASO
        uses: addnab/docker-run-action@v3
        with:
          options: -p 0.0.0.0:8081:8081/tcp -e TEST_PROD=true -e IASO_ENVIRONMENT=development -e RDS_DB_NAME=github_actions -e SECRET_KEY=secret -e DEBUG=true -e DJANGO_SETTINGS_MODULE=hat.settings -e RDS_PASSWORD=postgres -e RDS_HOSTNAME=postgres -e RDS_PORT=${{ job.services.postgres.ports[5432] }} -e RDS_USERNAME=postgres -e CACHE=false -e DEV_SERVER=true -e PLUGINS=polio
          image: blsq/iaso
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ env.REGISTRY }}
          run: |
            ./scripts/wait_for_dbs.sh
            ./manage.py migrate --noinput
            gunicorn hat.wsgi --bind=0.0.0.0:8081
        env:
          TEST_PROD: true
          IASO_ENVIRONMENT: development
          RDS_DB_NAME: github_actions
          SECRET_KEY: secret
          DEBUG: true
          DJANGO_SETTINGS_MODULE: hat.settings
          RDS_PASSWORD: postgres
          RDS_HOSTNAME: 127.0.0.1
          RDS_PORT: 5432
          RDS_USERNAME: postgres
          CACHE: false
          DEV_SERVER: true
          PLUGINS: polio

      - run: |
          docker ps

      - name: Docker logs
        run: /usr/bin/docker ps --all --format={{.ID}} |xargs --verbose -I {} /usr/bin/docker logs {}
      
      - run: |
          curl localhost:8081
          curl http://host.docker.internal:8081
          curl 127.0.0.1:8081

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          browser: chrome
          wait-on: 'http://host.docker.internal:8081'
          spec: hat/assets/js/cypress/integration/**/*.spec.js
          install: false
        env:
          CYPRESS_USERNAME: "test"
          CYPRESS_PASSWORD: "test"
          CYPRESS_BASE_URL: "localhost:8081"
      
      - name: Mark comment as success
        uses: dkershner6/reaction-action@v1
        if: success()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          reaction: 'hooray'

      - name: Comment PR with failure
        uses: actions/github-script@v6
        if: failure()
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { issue: { number: issue_number }, repo: { owner, repo }  } = context;
            github.rest.issues.createComment({
              issue_number,
              owner,
              repo,
              body: 'Test failed: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}'
            });

