name: deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: playground, staging or prod for worker and web or exact Env name like iaso-stg-worker
        default: staging
        required: true
      slack_channel:
        description: Slack Channel for notification (iasops by default)
        required: false
        default: iasops
# Branch is chosen by default in github manual actions

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Deployment of ${{ github.event.inputs.branch }} on ${{ github.event.inputs.environment }}
        run: |
          export GITHUB_BRANCH=${GITHUB_REF##*heads/}
          echo $GITHUB_BRANCH
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Use node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: upgrade npm
        run: |
          npm install --global npm
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Setup beanstalk
        run: |
           cp .elasticbeanstalk/config.github.yml .elasticbeanstalk/config.yml
           pip install awsebcli --upgrade
           pip install boto3 --upgrade

      - name: Environment info
        run: |
          node --version
          npm --version
          pip list

      - name: npm install
        run: |
          npm install

      - name: npm build
        run: |
          echo diff-index echo 1---------
          git diff-index --quiet HEAD || echo "we should commit something 1"
          rm -f hat/assets/webpack/*
          npm run webpack-prod
          echo diff-index echo 2---------
          git diff-index --quiet HEAD || echo "we should commit something 2"
          echo committing---------
          git add hat/assets/webpack/

          PUBLIC_URL=https://iaso-campaigns.s3.amazonaws.com/iasostatics/ SKIP_PREFLIGHT_CHECK=true PLUGIN_POLIO_ENABLED='true' bash ./scripts/enable_plugins.sh
          git add --force plugins/polio/static/
          git add --force plugins/polio/templates/polio/index.html

          git diff-index --quiet HEAD || (git checkout -b github/assets-${GITHUB_RUN_NUMBER} && git commit -m "Build assets github action ${GITHUB_RUN_NUMBER}" && git push -u origin) || true
        env:
          CI: false
          GIT_AUTHOR_NAME: Github Bot
          GIT_COMMITTER_NAME: Github Bot
          EMAIL: edarchis@bluesquarehub.com

#      - name: slack notification
#        uses: rtCamp/action-slack-notify@v2.0.2
#        env:
#          SLACK_USERNAME: github-actions-DEPLOY
#          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
#          SLACK_CHANNEL: ${{ github.event.inputs.slack_channel }}
#          SLACK_TITLE: Iaso deploying on ${{ github.event.inputs.environment }}...
#
      - name: deploy to beanstalk
        run: python scripts/eb_deploy.py ${{ github.event.inputs.environment }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: "eu-central-1"
#          EB_ENV: ${{ github.event.inputs.environment }}

      - name: slack notification
        uses: rtCamp/action-slack-notify@v2.0.2
        env:
          SLACK_USERNAME: github-actions-DEPLOY
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: ${{ github.event.inputs.slack_channel }}
          SLACK_TITLE: Iaso successfully deployed on ${{ github.event.inputs.environment }}
          SLACK_MESSAGE: Iaso successfully deployed on ${{ github.event.inputs.environment }}
        if: success()
