name: e2e tests staging
on:
  workflow_dispatch: {}
env:
  NODE_VERSION: "16.13.0"
jobs:
  e2etests:
    name: run end2end tests
    runs-on: ubuntu-22.04
#    container: cypress/browsers:node16.5.0-chrome94-ff93
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          cache: "npm"
          node-version: "20.13.1"

      - name: resolve dependencies
        run: npm ci
      - name: UI Tests
        uses: cypress-io/github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_USERNAME: ${{ secrets.CYPRESS_USERNAME }}
          CYPRESS_PASSWORD: ${{ secrets.CYPRESS_PASSWORD }}
          CYPRESS_BASE_URL: https://iaso-staging.bluesquare.org
        with:
          browser: chrome
          headless: true
          timeout: 180
      # - uses: actions/upload-artifact@v2
      #   if: failure()
      #   with:
      #     name: cypress-screenshots
      #     path: cypress/screenshots
      # Test run video was always captured, so this action uses "always()" condition
      # - uses: actions/upload-artifact@v2
      #   if: always()
      #   with:
      #     name: cypress-videos
      #     path: cypress/videos