name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: mdillon/postgis:10
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a health check
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2

      - name: Use node.js 10
        uses: actions/setup-node@v1
        with:
                node-version: 10

      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install GDAL
        run: sudo apt install gdal-bin

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Environment info
        run: |
          node --version
          npm --version
          pip list

#      - name: npm install (and test)
#        run: |
#                npm i
#                # npm t
#        env:
#                CI: true
#
#      - name: npm build
#        run: |
#          echo diff-index echo 1---------
#          git diff-index --quiet HEAD || echo "we should commit something 1"
#          rm -f hat/assets/webpack/*
#          npm run webpack-prod
#          echo diff-index echo 2---------
#          git diff-index --quiet HEAD || echo "we should commit something 2"
#          echo committing---------
#          git add hat/assets/webpack/
#          git diff-index --quiet HEAD || (git checkout -b github/assets-${GITHUB_RUN_NUMBER} && git commit -m "Build assets github action ${GITHUB_RUN_NUMBER}" && git push -u origin) || true
#        env:
#          GIT_AUTHOR_NAME: Github Bot
#          GIT_COMMITTER_NAME: Github Bot
#          EMAIL: edarchis@bluesquarehub.com

      - name: Check formatting with black
        run: |
          black --check .

      - name: Django tests
        run: |
          python manage.py migrate
          python manage.py test
        env:
          CI: true
          IASO_ENVIRONMENT: development
          RDS_DB_NAME: github_actions
          SECRET_KEY: secret
          DEBUG: true
          DJANGO_SETTINGS_MODULE: hat.settings
          RDS_PASSWORD: postgres
          RDS_HOSTNAME: localhost
          RDS_PORT: 5432
          RDS_USERNAME: postgres
          CACHE: false
          DEV_SERVER: true
          AWS_STORAGE_BUCKET_NAME: iaso-dev
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DEFAULT_FILE_STORAGE: storages.backends.s3boto3.S3Boto3Storage

      - name: slack notification
        uses: rtCamp/action-slack-notify@v2.0.2
        env:
          SLACK_USERNAME: github-actions-main
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: iaso-dev
          SLACK_TITLE: Iaso CI run failed
        if: failure()
